workflows/At Random Comics - Daily Telegram Sender from Google Sheets.json
{"updatedAt":"2026-04-22T09:22:30.353Z","createdAt":"2026-04-15T14:20:19.974Z","id":"byntge7nT1xwI1iM","name":"At Random Comics - Daily Telegram Sender from Google Sheets","active":true,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":7}]}},"name":"Daily Morning Trigger","type":"n8n-nodes-base.cron","typeVersion":1,"position":[0,0],"id":"a4deb561-f031-46a9-bab4-08c3cd0a262f"},{"parameters":{"documentId":{"__rl":true,"value":"13kMrjS_8oF-lcJeNMnqDefFbKg81sSlliBA-Et9NswQ","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"options":{}},"name":"Read Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[224,0],"id":"ad6b1c46-df7b-4141-8eeb-d37b3734cc7c","credentials":{"googleSheetsOAuth2Api":{"id":"8aMGkwgKsyvUm7y2","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all().map(i => i.json).filter(x => x.URL);\n\nconst unique = [...new Map(items.map(i => [i.URL, i])).values()];\n\nfor (let i = unique.length - 1; i > 0; i--) {\n  const j = Math.floor(Math.random() * (i + 1));\n  [unique[i], unique[j]] = [unique[j], unique[i]];\n}\n\nreturn unique.slice(0, 2).map(item => ({\n  json: {\n    photo: item.URL,\n    caption: 'Random At Random Comics'\n  }\n}));"},"name":"Pick 2 Random","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"499fa688-f5dd-43fa-985d-b7913df32b26"},{"parameters":{"operation":"sendPhoto","chatId":"6375333458","file":"={{$json.photo}}","additionalFields":{"caption":"={{$json.photo}}"}},"name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[688,0],"id":"9a530fdc-7517-4986-9c8b-420001c354c6","webhookId":"ef128738-0556-433b-87dc-f05e87ae968f","credentials":{"telegramApi":{"id":"R1e89fZDCTMvxj0O","name":"Telegram account"}}},{"parameters":{},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,144],"id":"fd3184fb-ad43-4e1f-982b-ba3efca5eda9","name":"Sticky Note"}],"connections":{"Daily Morning Trigger":{"main":[[{"node":"Read Google Sheets","type":"main","index":0}]]},"Read Google Sheets":{"main":[[{"node":"Pick 2 Random","type":"main","index":0}]]},"Pick 2 Random":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c9dd823b-da49-4874-ad7b-e4509ecf9e7d","activeVersionId":"6adba6c8-bfb7-4153-aeec-1ccabd31001e","triggerCount":1,"shared":[{"updatedAt":"2026-04-15T14:20:19.980Z","createdAt":"2026-04-15T14:20:19.980Z","role":"workflow:owner","workflowId":"byntge7nT1xwI1iM","projectId":"3RRlwE0Ip44RqvAw"}],"activeVersion":{"updatedAt":"2026-04-17T08:20:45.000Z","createdAt":"2026-04-17T08:17:36.130Z","versionId":"6adba6c8-bfb7-4153-aeec-1ccabd31001e","workflowId":"byntge7nT1xwI1iM","nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":7}]}},"name":"Daily Morning Trigger","type":"n8n-nodes-base.cron","typeVersion":1,"position":[0,0],"id":"a4deb561-f031-46a9-bab4-08c3cd0a262f"},{"parameters":{"documentId":{"__rl":true,"value":"13kMrjS_8oF-lcJeNMnqDefFbKg81sSlliBA-Et9NswQ","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"options":{}},"name":"Read Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[224,0],"id":"ad6b1c46-df7b-4141-8eeb-d37b3734cc7c","credentials":{"googleSheetsOAuth2Api":{"id":"8aMGkwgKsyvUm7y2","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all().map(i => i.json).filter(x => x.URL);\n\nconst unique = [...new Map(items.map(i => [i.URL, i])).values()];\n\nfor (let i = unique.length - 1; i > 0; i--) {\n  const j = Math.floor(Math.random() * (i + 1));\n  [unique[i], unique[j]] = [unique[j], unique[i]];\n}\n\nreturn unique.slice(0, 2).map(item => ({\n  json: {\n    photo: item.URL,\n    caption: 'Random At Random Comics'\n  }\n}));"},"name":"Pick 2 Random","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"499fa688-f5dd-43fa-985d-b7913df32b26"},{"parameters":{"operation":"sendPhoto","chatId":"6375333458","file":"={{$json.photo}}","additionalFields":{"caption":"={{$json.photo}}"}},"name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[688,0],"id":"9a530fdc-7517-4986-9c8b-420001c354c6","webhookId":"ef128738-0556-433b-87dc-f05e87ae968f","credentials":{"telegramApi":{"id":"R1e89fZDCTMvxj0O","name":"Telegram account"}}}],"connections":{"Daily Morning Trigger":{"main":[[{"node":"Read Google Sheets","type":"main","index":0}]]},"Read Google Sheets":{"main":[[{"node":"Pick 2 Random","type":"main","index":0}]]},"Pick 2 Random":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]}},"authors":"Robert Winters","name":"Version 6adba6c8","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-22T09:22:25.278Z","createdAt":"2026-04-22T09:22:25.278Z","id":"mncuglJyiyL60hhb","name":"VPS-Sync"}]}