workflows/At Random Comics - Sitemap Collector to Google Sheets.json
{"updatedAt":"2026-04-22T09:22:42.561Z","createdAt":"2026-04-15T14:19:55.523Z","id":"8lCQFi8WTIz1tBU7","name":"At Random Comics - Sitemap Collector to Google Sheets","active":true,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"mode":"everyWeek"}]}},"name":"Weekly Trigger","type":"n8n-nodes-base.cron","typeVersion":1,"position":[0,0],"id":"285d388f-650a-466a-a463-124d137b7cef"},{"parameters":{"url":"https://www.atrandomcomics.com/sitemap.xml","options":{}},"name":"Get Sitemap","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[224,0],"id":"4958a681-d006-43fd-a9f3-ebd2a2242c02"},{"parameters":{"jsCode":"\nconst xml = $json.body || $json.data || $json;\nconst matches = [...String(xml).matchAll(/<image:loc>(.*?)<\\/image:loc>/gsi)];\nconst urls = [...new Set(matches.map(m => m[1].trim()).filter(Boolean))];\nreturn urls.map(url => ({ json: { url, addedAt: new Date().toISOString() } }));\n"},"name":"Extract Image URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"024b5d07-267f-4521-84c0-de058a811ad4"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"13kMrjS_8oF-lcJeNMnqDefFbKg81sSlliBA-Et9NswQ","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"URL":"={{ $json.url }}","Added at":"={{ $json.addedAt }}"},"matchingColumns":[],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Added at","displayName":"Added at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"Append to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[688,0],"id":"61b1a313-5bc5-4ae7-898c-2a75d27f1931","credentials":{"googleSheetsOAuth2Api":{"id":"8aMGkwgKsyvUm7y2","name":"Google Sheets account"}}}],"connections":{"Weekly Trigger":{"main":[[{"node":"Get Sitemap","type":"main","index":0}]]},"Get Sitemap":{"main":[[{"node":"Extract Image URLs","type":"main","index":0}]]},"Extract Image URLs":{"main":[[{"node":"Append to Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fa18b757-e326-442a-8204-b3e3b796e0db","activeVersionId":"fa18b757-e326-442a-8204-b3e3b796e0db","triggerCount":1,"shared":[{"updatedAt":"2026-04-15T14:19:55.535Z","createdAt":"2026-04-15T14:19:55.535Z","role":"workflow:owner","workflowId":"8lCQFi8WTIz1tBU7","projectId":"3RRlwE0Ip44RqvAw"}],"activeVersion":{"updatedAt":"2026-04-17T08:21:32.000Z","createdAt":"2026-04-17T08:21:03.136Z","versionId":"fa18b757-e326-442a-8204-b3e3b796e0db","workflowId":"8lCQFi8WTIz1tBU7","nodes":[{"parameters":{"triggerTimes":{"item":[{"mode":"everyWeek"}]}},"name":"Weekly Trigger","type":"n8n-nodes-base.cron","typeVersion":1,"position":[0,0],"id":"285d388f-650a-466a-a463-124d137b7cef"},{"parameters":{"url":"https://www.atrandomcomics.com/sitemap.xml","options":{}},"name":"Get Sitemap","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[224,0],"id":"4958a681-d006-43fd-a9f3-ebd2a2242c02"},{"parameters":{"jsCode":"\nconst xml = $json.body || $json.data || $json;\nconst matches = [...String(xml).matchAll(/<image:loc>(.*?)<\\/image:loc>/gsi)];\nconst urls = [...new Set(matches.map(m => m[1].trim()).filter(Boolean))];\nreturn urls.map(url => ({ json: { url, addedAt: new Date().toISOString() } }));\n"},"name":"Extract Image URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"024b5d07-267f-4521-84c0-de058a811ad4"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"13kMrjS_8oF-lcJeNMnqDefFbKg81sSlliBA-Et9NswQ","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"URL":"={{ $json.url }}","Added at":"={{ $json.addedAt }}"},"matchingColumns":[],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Added at","displayName":"Added at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"Append to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[688,0],"id":"61b1a313-5bc5-4ae7-898c-2a75d27f1931","credentials":{"googleSheetsOAuth2Api":{"id":"8aMGkwgKsyvUm7y2","name":"Google Sheets account"}}}],"connections":{"Weekly Trigger":{"main":[[{"node":"Get Sitemap","type":"main","index":0}]]},"Get Sitemap":{"main":[[{"node":"Extract Image URLs","type":"main","index":0}]]},"Extract Image URLs":{"main":[[{"node":"Append to Google Sheets","type":"main","index":0}]]}},"authors":"Robert Winters","name":"Version fa18b757","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-22T09:22:25.278Z","createdAt":"2026-04-22T09:22:25.278Z","id":"mncuglJyiyL60hhb","name":"VPS-Sync"}]}