workflows/Lead Intake Enrichment Scoring v1.json
{"updatedAt":"2026-04-22T09:23:29.406Z","createdAt":"2026-04-14T06:40:59.400Z","id":"N4fyAT1U4c3IbhjZ","name":"Lead Intake Enrichment Scoring v1","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"8627ed73-8794-45c1-9a78-f730582b7d7a","name":"lead_name","value":"={{$json[\"Lead Name\"] || \"\"}}","type":"string"},{"id":"e8c1abd0-e433-464f-95a8-fc1f018e0fe2","name":"linkedin_url","value":"={{$json[\"LinkedIn URL\"] || \"\"}}","type":"string"},{"id":"48066892-5f1a-4aa6-8f2f-21a45f25f457","name":"company","value":"={{$json[\"Company\"] || \"\"}}","type":"string"},{"id":"a62c8d10-67c0-44fb-99ec-5b037cd43d5d","name":"website","value":"={{$json[\"Website\"] || \"\"}}","type":"string"},{"id":"fb85f786-5ffd-492b-96df-1b6fb0175e54","name":"role","value":"={{$json[\"Role\"] || \"\"}}","type":"string"},{"id":"0d0c7c0e-93ca-419d-887f-20a6ca73d773","name":"lead_source","value":"={{$json[\"Lead Source\"] || \"\"}}","type":"string"},{"id":"0d42de49-793c-4572-877f-808183f8eb37","name":"manual_note","value":"={{$json[\"Manual Note\"] || \"\"}}","type":"string"},{"id":"8496f331-440d-4672-9f49-bf36a04d8b7b","name":"email","value":"={{$json[\"Email\"] || \"\"}}","type":"string"},{"id":"34842a9f-bb4b-4826-be61-fbe309c630cf","name":"phone","value":"={{$json[\"Phone\"] || \"\"}}","type":"string"},{"id":"9eeeb567-cb24-4a6e-86f6-16eeefc93df8","name":"location","value":"={{$json[\"Location\"] || \"\"}}","type":"string"},{"id":"bc5ba246-52d8-4da3-a167-31cbb7fc83a1","name":"date_added","value":"={{$json[\"Date Added\"] || \"\"}}","type":"string"},{"id":"ee257bdd-47d9-48d6-aece-e994921f1d1d","name":"lead_id","value":"={{$json[\"Lead ID\"] || \"\"}}","type":"string"},{"id":"93b3b85f-2c17-481d-b318-0f12286c732d","name":"row_number","value":"={{$json.row_number || 0}}","type":"number"},{"id":"2e42d347-68f1-4557-a865-c4e1551ffdd3","name":"existing_ai_summary","value":"={{$json[\"AI Summary\"] || \"\"}}","type":"string"}]},"options":{}},"id":"4139a751-a9ae-4606-966e-41952620ec7c","name":"Normalize Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,32]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const leadName = ($json.lead_name || '').trim();\nconst company = ($json.company || '').trim();\nconst role = ($json.role || '').trim();\nconst url = ($json.linkedin_url || '').trim();\nconst website = ($json.website || '').trim();\nconst note = ($json.manual_note || '').trim();\nconst leadSource = ($json.lead_source || '').trim();\n\nconst text = `${leadName} ${company} ${role} ${url} ${website} ${note} ${leadSource}`.toLowerCase();\n\nconst hasAny = (...terms) => terms.some(term => text.includes(term));\n\nlet segment = 'Unknown';\nlet contactType = 'Unknown';\nlet productFit = 'Unknown';\nlet outreachTrack = 'Nurture';\nlet examFocus = 'Unknown';\nlet roleSeniority = 'Unknown';\nlet audienceType = 'Unknown';\n\nif (hasAny('oet') && (hasAny('ielts') || hasAny('toefl') || hasAny('celpip'))) {\n  examFocus = 'Mixed';\n} else if (hasAny('oet')) {\n  examFocus = 'OET';\n} else if (hasAny('ielts')) {\n  examFocus = 'IELTS';\n} else if (hasAny('toefl')) {\n  examFocus = 'TOEFL';\n} else if (hasAny('celpip')) {\n  examFocus = 'CELPIP';\n}\n\nif (hasAny('academy', 'institute', 'training center', 'test prep', 'prep center', 'language center')) {\n  audienceType = 'Academy';\n} else if (hasAny('school', 'university', 'college')) {\n  audienceType = 'School';\n} else if (hasAny('solo', 'freelance', 'independent tutor', 'private tutor')) {\n  audienceType = 'Solo Teacher';\n} else if (hasAny('test prep', 'prep center', 'exam prep')) {\n  audienceType = 'Test Prep Center';\n}\n\nif (hasAny('founder')) {\n  roleSeniority = 'Founder';\n} else if (hasAny('owner', 'co-owner')) {\n  roleSeniority = 'Owner';\n} else if (hasAny('director', 'head of', 'principal', 'ceo')) {\n  roleSeniority = 'Director';\n} else if (hasAny('manager', 'administrator', 'admin')) {\n  roleSeniority = 'Manager';\n} else if (hasAny('coordinator', 'head teacher', 'lead teacher', 'academic manager', 'department head')) {\n  roleSeniority = 'Coordinator';\n} else if (hasAny('teacher', 'tutor', 'instructor', 'lecturer', 'examiner')) {\n  roleSeniority = 'Teacher';\n}\n\nif (hasAny('teacher', 'tutor', 'instructor', 'lecturer', 'examiner')) {\n  segment = 'Teacher';\n}\nif (hasAny('owner', 'founder', 'director', 'manager', 'administrator', 'admin', 'principal', 'ceo', 'co-founder')) {\n  segment = 'Owner/Admin';\n}\nif (hasAny('academy', 'school', 'institute', 'training center', 'prep center', 'language center')) {\n  segment = 'Academy';\n}\n\nconst isTeacher = hasAny('teacher', 'tutor', 'instructor', 'lecturer', 'examiner');\nconst isDecisionMaker = hasAny('owner', 'founder', 'director', 'manager', 'administrator', 'admin', 'principal', 'ceo', 'co-founder');\nconst isBoth = hasAny('coordinator', 'head teacher', 'lead teacher', 'academic manager', 'department head');\n\nif (isBoth) {\n  contactType = 'Both';\n} else if (isDecisionMaker) {\n  contactType = 'Decision Maker';\n} else if (isTeacher) {\n  contactType = 'Teacher';\n}\n\nif (contactType === 'Decision Maker' && (audienceType === 'Academy' || audienceType === 'School' || audienceType === 'Test Prep Center')) {\n  productFit = 'Blog Content Generator';\n} else if (contactType === 'Teacher') {\n  productFit = 'Teacher Tool';\n} else if (contactType === 'Both') {\n  productFit = 'Both';\n}\n\nif (contactType === 'Decision Maker' && productFit === 'Blog Content Generator') {\n  outreachTrack = 'DM-Content';\n} else if (contactType === 'Teacher' && productFit === 'Teacher Tool') {\n  outreachTrack = 'Teacher-Product';\n} else if (contactType === 'Teacher') {\n  outreachTrack = 'Teacher-Relationship';\n} else if (contactType === 'Both') {\n  outreachTrack = 'Nurture';\n} else if (contactType === 'Unknown' && !company && !website) {\n  outreachTrack = 'Ignore';\n}\n\nlet stage = 'New';\nlet nextAction = 'Review';\n\nif (outreachTrack === 'DM-Content') {\n  nextAction = 'Review and decide whether to send connection request';\n} else if (outreachTrack === 'Teacher-Product') {\n  nextAction = 'Review for teacher-product outreach';\n} else if (outreachTrack === 'Teacher-Relationship') {\n  nextAction = 'Review for soft relationship-building outreach';\n} else if (outreachTrack === 'Nurture') {\n  nextAction = 'Review and nurture later';\n} else if (outreachTrack === 'Ignore') {\n  nextAction = 'No action';\n}\n\nlet fitScore = 50;\n\nif (contactType === 'Decision Maker') fitScore += 20;\nif (productFit === 'Both') fitScore += 15;\nif (productFit === 'Blog Content Generator' && (audienceType === 'Academy' || audienceType === 'Test Prep Center' || audienceType === 'School')) fitScore += 15;\nif (examFocus === 'OET') fitScore += 10;\nif (website) fitScore += 10;\nif (company) fitScore += 5;\nif (note) fitScore += 5;\n\nif (contactType === 'Unknown') fitScore -= 15;\nif (productFit === 'Unknown') fitScore -= 15;\nif (!company && !website) fitScore -= 10;\nif (segment === 'Unknown' && !note && !role) fitScore -= 10;\n\nfitScore = Math.max(0, Math.min(100, fitScore));\n\nconst fitLabel = fitScore >= 75 ? 'High' : fitScore >= 60 ? 'Medium' : 'Low';\nconst priorityGuess = fitLabel === 'High' ? 'High' : fitLabel === 'Medium' ? 'Medium' : 'Low';\n\nconst today = new Date().toISOString().split('T')[0];\n\nreturn {\n  json: {\n    ...$json,\n    segment_guess: segment,\n    contact_type_guess: contactType,\n    product_fit_guess: productFit,\n    outreach_track_guess: outreachTrack,\n    exam_focus_guess: examFocus,\n    role_seniority_guess: roleSeniority,\n    audience_type_guess: audienceType,\n    priority_guess: priorityGuess,\n    stage_default: stage,\n    next_action: nextAction,\n    fit_score: fitScore,\n    fit_label: fitLabel,\n    today\n  }\n};"},"id":"31119147-bed1-4e82-a9ad-869f70cbe47a","name":"Initial Scoring Logic","type":"n8n-nodes-base.code","typeVersion":2,"position":[816,32]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let content =\n  $json.text ||\n  $json.response?.text ||\n  $json.content ||\n  '{}';\n\ncontent = String(content).trim();\n\ncontent = content\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\nconst firstBrace = content.indexOf('{');\nconst lastBrace = content.lastIndexOf('}');\n\nif (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n  content = content.slice(firstBrace, lastBrace + 1);\n}\n\nlet ai = {};\ntry {\n  ai = JSON.parse(content);\n} catch (e) {\n  ai = {};\n}\n\nconst base = $json;\n\nconst scoreAdj = Number(ai.fit_score_adjustment || 0);\nlet finalScore = Number(base.fit_score || 0) + scoreAdj;\nfinalScore = Math.max(0, Math.min(100, finalScore));\n\nconst finalFitLabel =\n  finalScore >= 75 ? 'High' :\n  finalScore >= 60 ? 'Medium' :\n  'Low';\n\nconst finalPriority =\n  ai.priority ||\n  base.priority_guess ||\n  (finalFitLabel === 'High' ? 'High' : finalFitLabel === 'Medium' ? 'Medium' : 'Low');\n\nconst finalSegment = ai.segment_final || base.segment_guess || 'Unknown';\nconst finalContactType = ai.contact_type || base.contact_type_guess || 'Unknown';\nconst finalProductFit = ai.product_fit || base.product_fit_guess || 'Unknown';\nconst finalOutreachTrack = ai.outreach_track || base.outreach_track_guess || 'Nurture';\nconst finalExamFocus = ai.exam_focus || base.exam_focus_guess || 'Unknown';\nconst finalRoleSeniority = ai.role_seniority || base.role_seniority_guess || 'Unknown';\nconst finalAudienceType = ai.audience_type || base.audience_type_guess || 'Unknown';\nconst finalRole = ai.role_guess || base.role || '';\nconst finalCompany = ai.company_guess || base.company || '';\nconst finalWebsite = ai.website_guess || base.website || '';\nconst finalRecommendedFirstStep = ai.recommended_first_step || base.next_action || 'Review';\nconst finalStage = base.stage_default || 'New';\nconst finalNextAction = finalRecommendedFirstStep === 'Ignore' ? 'No action' : finalRecommendedFirstStep;\n\nreturn {\n  json: {\n    ...base,\n    role_final: finalRole,\n    company_final: finalCompany,\n    website_final: finalWebsite,\n    segment_final: finalSegment,\n    contact_type_final: finalContactType,\n    product_fit_final: finalProductFit,\n    outreach_track_final: finalOutreachTrack,\n    exam_focus_final: finalExamFocus,\n    role_seniority_final: finalRoleSeniority,\n    audience_type_final: finalAudienceType,\n    pain_point_guess: ai.pain_point_guess || '',\n    ai_summary: ai.ai_summary || '',\n    personalization_angle: ai.personalization_angle || '',\n    recommended_first_step: finalRecommendedFirstStep,\n    next_action_final: finalNextAction,\n    fit_score_final: finalScore,\n    fit_label_final: finalFitLabel,\n    priority_final: finalPriority,\n    stage_final: finalStage,\n    next_action_date: base.today || '',\n    last_contact_date: '',\n    overview_sent: 'No',\n    booked_call: 'No'\n  }\n};"},"id":"97d0c91c-ab22-452a-92cf-9ea6e10446bc","name":"Merge AI Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,32]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs","mode":"id"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":0,"Lead Name":"={{$json.lead_name || \"\"}}","LinkedIn URL":"={{$json.linkedin_url || \"\"}}","Company":"={{$json.company_final || $json.company || \"\"}}","Website":"={{$json.website_final || $json.website || \"\"}}","Role":"={{$json.role_final || $json.role || \"\"}}","Segment":"={{$json.segment_final}}","Contact Type":"={{$json.contact_type_final}}","Product Fit":"={{$json.product_fit_final}}","Outreach track":"={{$json.outreach_track_final}}","Exam Focus":"={{$json.exam_focus_final}}","Role Seniority":"={{$json.role_seniority_final}}","Audience Type":"={{$json.audience_type_final}}","Lead Source":"={{$json.lead_source}}","Manual Note":"={{$json.manual_note}}","AI Summary":"={{$json.ai_summary}}","Personalization Angle":"={{$json.personalization_angle}}","Pain Point":"={{$json.pain_point_guess}}","Fit Score":"={{$json.fit_score_final}}","Fit Label":"={{$json.fit_label_final || \"\"}}","Priority":"={{$json.priority_final}}","Stage":"={{$json.stage_final}}","Recommended Next Step":"={{$json.recommended_first_step}}","Last Contact Date":"={{$json.last_contact_date}}","Next Action Date":"={{$json.next_action_date}}","Overview Sent":"={{$json.overview_sent}}","Booked Call":"={{$json.booked_call}}","Call Date":"={{$json.call_date || \"\"}}","Status Notes":"={{$json.status_notes || \"\"}}","Email":"={{$json.email || \"\"}}","Phone":"={{$json.phone || \"\"}}","Location":"={{$json.location || \"\"}}"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date Added","displayName":"Date Added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Lead Name","displayName":"Lead Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Segment","displayName":"Segment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Contact Type","displayName":"Contact Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Product Fit","displayName":"Product Fit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Outreach track","displayName":"Outreach track","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Exam Focus","displayName":"Exam Focus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Role Seniority","displayName":"Role Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Audience Type","displayName":"Audience Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Lead Source","displayName":"Lead Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Manual Note","displayName":"Manual Note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Personalization Angle","displayName":"Personalization Angle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pain Point","displayName":"Pain Point","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fit Score","displayName":"Fit Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fit Label","displayName":"Fit Label","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Priority","displayName":"Priority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stage","displayName":"Stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Recommended Next Step","displayName":"Recommended Next Step","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Last Contact Date","displayName":"Last Contact Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Next Action Date","displayName":"Next Action Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Overview Sent","displayName":"Overview Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Booked Call","displayName":"Booked Call","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Call Date","displayName":"Call Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status Notes","displayName":"Status Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"69033156-d9cf-47cb-80e1-a2fbb384d6b4","name":"Update Sheet Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1696,32],"credentials":{"googleSheetsOAuth2Api":{"id":"8aMGkwgKsyvUm7y2","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Lead Name: {{$json.lead_name}}\nCompany: {{$json.company}}\nRole: {{$json.role}}\nLinkedIn URL: {{$json.linkedin_url}}\nWebsite: {{$json.website}}\nManual Note: {{$json.manual_note}}\nLead Source: {{$json.lead_source}}\n\nCurrent rule-based guesses:\nSegment Guess: {{$json.segment_guess}}\nContact Type Guess: {{$json.contact_type_guess}}\nProduct Fit Guess: {{$json.product_fit_guess}}\nOutreach Track Guess: {{$json.outreach_track_guess}}\nExam Focus Guess: {{$json.exam_focus_guess}}\nRole Seniority Guess: {{$json.role_seniority_guess}}\nAudience Type Guess: {{$json.audience_type_guess}}\nFit Score: {{$json.fit_score}}\nFit Label: {{$json.fit_label}}\nPriority Guess: {{$json.priority_guess}}","messages":{"messageValues":[{"message":"You are enriching B2B outreach leads for a business that serves exam-English providers and teachers.  There are two main target groups: 1. Decision makers who may be a fit for a blog/content generation service 2. Teachers who may be a fit for a teacher-focused product, relationship-building outreach, or future nurturing  Your job is to review the provided lead fields and return one valid JSON object only.  Rules: - Return one valid JSON object only - Do not include markdown - Do not include code fences - Do not include any explanation before or after the JSON - If a field is unknown, return an empty string unless the schema requires one of the allowed labels - Keep outputs concise - ai_summary must be 30 words or fewer - personalization_angle must be short and practical - fit_score_adjustment must be an integer from -10 to 10  Use only the provided lead information. Do not invent facts. Do not claim certainty when the data is weak.  Allowed values:  segment_final: - Academy - Teacher - Owner/Admin - Unknown  contact_type: - Decision Maker - Teacher - Both - Unknown  product_fit: - Blog Content Generator - Teacher Tool - Both - Unknown  outreach_track: - DM-Content - Teacher-Product - Teacher-Relationship - Nurture - Ignore  exam_focus: - OET - IELTS - TOEFL - CELPIP - Mixed - Unknown  role_seniority: - Owner - Founder - Director - Manager - Coordinator - Teacher - Unknown  audience_type: - Academy - School - Solo Teacher - Test Prep Center - Unknown  priority: - High - Medium - Low  recommended_first_step: - Review - Connect - Nurture - Ignore  Return exactly this JSON structure:  {   \"role_guess\": \"\",   \"company_guess\": \"\",   \"website_guess\": \"\",   \"segment_final\": \"\",   \"contact_type\": \"\",   \"product_fit\": \"\",   \"outreach_track\": \"\",   \"exam_focus\": \"\",   \"role_seniority\": \"\",   \"audience_type\": \"\",   \"pain_point_guess\": \"\",   \"ai_summary\": \"\",   \"personalization_angle\": \"\",   \"recommended_first_step\": \"\",   \"fit_score_adjustment\": 0,   \"priority\": \"\" }"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[992,32],"id":"ed6fc2d2-47f3-4b02-bffc-620194e4817f","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":1200,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[912,224],"id":"777e2e86-9485-42c9-8359-a8bd724ddc98","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"kjFwKLGjvAJxRSm3","name":"Anthropic account"}}},{"parameters":{"content":"Classify each lead using only the current row fields:\n- lead_name\n- company\n- role\n- linkedin_url\n- website\n- manual_note\n- lead_source\n\nAssign the following fields using simple deterministic rules:\n\n1. segment_guess\nAllowed values:\n- Academy\n- Teacher\n- Owner/Admin\n- Unknown\n\n2. contact_type_guess\nAllowed values:\n- Decision Maker\n- Teacher\n- Both\n- Unknown\n\n3. product_fit_guess\nAllowed values:\n- Blog Content Generator\n- Teacher Tool\n- Both\n- Unknown\n\n4. outreach_track_guess\nAllowed values:\n- DM-Content\n- Teacher-Product\n- Teacher-Relationship\n- Nurture\n- Ignore\n\n5. exam_focus_guess\nAllowed values:\n- OET\n- IELTS\n- TOEFL\n- CELPIP\n- Mixed\n- Unknown\n\n6. role_seniority_guess\nAllowed values:\n- Owner\n- Founder\n- Director\n- Manager\n- Coordinator\n- Teacher\n- Unknown\n\n7. audience_type_guess\nAllowed values:\n- Academy\n- School\n- Solo Teacher\n- Test Prep Center\n- Unknown\n\n8. fit_score\nInteger from 0 to 100\n\n9. fit_label\nAllowed values:\n- High\n- Medium\n- Low\n\n10. priority_guess\nAllowed values:\n- High\n- Medium\n- Low\n\n11. stage_default\nDefault value:\n- New\n\n12. next_action\nDefault value:\n- Review\n\nRule hints:\n- If role contains founder, owner, director, head, manager, admin, principal, CEO, co-founder:\n  - contact_type_guess = Decision Maker\n  - role_seniority_guess = best matching seniority\n- If role contains teacher, tutor, instructor, examiner, lecturer:\n  - contact_type_guess = Teacher\n  - role_seniority_guess = Teacher\n- If role contains coordinator, academic manager, head teacher, lead teacher, department head:\n  - contact_type_guess = Both\n  - role_seniority_guess = Coordinator or Manager\n\nSegment rules:\n- Teacher-like roles -> Teacher\n- Owner/admin/leadership roles -> Owner/Admin\n- If company or notes suggest school, academy, center, institute, prep provider -> Academy\n- Else Unknown\n\nProduct fit rules:\n- Decision makers at academies, schools, prep centers -> Blog Content Generator\n- Teachers and exam instructors -> Teacher Tool\n- Coordinator / academic leadership / senior teacher -> Both\n- Unclear -> Unknown\n\nOutreach track rules:\n- Decision Maker + Blog Content Generator -> DM-Content\n- Teacher + Teacher Tool -> Teacher-Product\n- Teacher + unclear purchase authority -> Teacher-Relationship\n- Both -> Nurture\n- Obvious mismatch -> Ignore\n\nExam focus rules:\n- If row text mentions OET -> OET\n- If row text mentions IELTS -> IELTS\n- If row text mentions TOEFL -> TOEFL\n- If row text mentions CELPIP -> CELPIP\n- If more than one appears -> Mixed\n- Else Unknown\n\nAudience type rules:\n- company/notes/website suggests academy, institute, training center -> Academy or Test Prep Center\n- school / university / college -> School\n- independent tutor / freelance teacher -> Solo Teacher\n- else Unknown\n\nFit score rules:\nStart at 50.\nAdd:\n- +20 if Decision Maker\n- +15 if Product Fit = Both\n- +15 if Product Fit = Blog Content Generator and audience is Academy/Test Prep Center\n- +10 if exam focus is OET\n- +10 if website exists\n- +5 if notes suggest active business or real teaching offer\n\nSubtract:\n- -15 if Unknown contact type\n- -15 if Unknown product fit\n- -10 if no company and no website\n- -10 if unclear relevance\n\nClamp score between 0 and 100.\n\nfit_label:\n- 75+ = High\n- 60-74 = Medium\n- below 60 = Low\n\npriority_guess:\n- High if fit_label is High\n- Medium if fit_label is Medium\n- Low if fit_label is Low\n","height":448,"width":432},"type":"n8n-nodes-base.stickyNote","position":[1008,224],"typeVersion":1,"id":"762e0283-35d9-42a8-bf30-bc2e61658784","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[192,240],"id":"7f1ef4d2-6e42-48e8-aae2-d84b418fc544","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bd5a60d9-3b98-4d39-8d71-b32e79d2ef41","leftValue":"={{$json[\"AI Summary\"]}}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[384,48],"id":"95a208ae-b9ac-4c25-879d-7dd81646e85e","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs","mode":"id"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[192,48],"id":"7717ee12-a88d-45f3-afb1-d1da7824ff56","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8aMGkwgKsyvUm7y2","name":"Google Sheets account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"06d4ff82-a8e2-4f67-8ca6-fc2c28b3feaf","name":"Merge Base + AI","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1296,32]}],"connections":{"Normalize Fields":{"main":[[{"node":"Initial Scoring Logic","type":"main","index":0}]]},"Initial Scoring Logic":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0},{"node":"Merge Base + AI","type":"main","index":0}]]},"Merge AI Results":{"main":[[{"node":"Update Sheet Row","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Merge Base + AI","type":"main","index":1}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Normalize Fields","type":"main","index":0}]]},"Merge Base + AI":{"main":[[{"node":"Merge AI Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"ee9ff33d-6c1c-4ce8-8175-35375048634f","activeVersionId":"ee9ff33d-6c1c-4ce8-8175-35375048634f","triggerCount":1,"shared":[{"updatedAt":"2026-04-14T06:40:59.404Z","createdAt":"2026-04-14T06:40:59.404Z","role":"workflow:owner","workflowId":"N4fyAT1U4c3IbhjZ","projectId":"3RRlwE0Ip44RqvAw"}],"activeVersion":{"updatedAt":"2026-04-14T07:19:37.000Z","createdAt":"2026-04-14T07:15:32.645Z","versionId":"ee9ff33d-6c1c-4ce8-8175-35375048634f","workflowId":"N4fyAT1U4c3IbhjZ","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"8627ed73-8794-45c1-9a78-f730582b7d7a","name":"lead_name","value":"={{$json[\"Lead Name\"] || \"\"}}","type":"string"},{"id":"e8c1abd0-e433-464f-95a8-fc1f018e0fe2","name":"linkedin_url","value":"={{$json[\"LinkedIn URL\"] || \"\"}}","type":"string"},{"id":"48066892-5f1a-4aa6-8f2f-21a45f25f457","name":"company","value":"={{$json[\"Company\"] || \"\"}}","type":"string"},{"id":"a62c8d10-67c0-44fb-99ec-5b037cd43d5d","name":"website","value":"={{$json[\"Website\"] || \"\"}}","type":"string"},{"id":"fb85f786-5ffd-492b-96df-1b6fb0175e54","name":"role","value":"={{$json[\"Role\"] || \"\"}}","type":"string"},{"id":"0d0c7c0e-93ca-419d-887f-20a6ca73d773","name":"lead_source","value":"={{$json[\"Lead Source\"] || \"\"}}","type":"string"},{"id":"0d42de49-793c-4572-877f-808183f8eb37","name":"manual_note","value":"={{$json[\"Manual Note\"] || \"\"}}","type":"string"},{"id":"8496f331-440d-4672-9f49-bf36a04d8b7b","name":"email","value":"={{$json[\"Email\"] || \"\"}}","type":"string"},{"id":"34842a9f-bb4b-4826-be61-fbe309c630cf","name":"phone","value":"={{$json[\"Phone\"] || \"\"}}","type":"string"},{"id":"9eeeb567-cb24-4a6e-86f6-16eeefc93df8","name":"location","value":"={{$json[\"Location\"] || \"\"}}","type":"string"},{"id":"bc5ba246-52d8-4da3-a167-31cbb7fc83a1","name":"date_added","value":"={{$json[\"Date Added\"] || \"\"}}","type":"string"},{"id":"ee257bdd-47d9-48d6-aece-e994921f1d1d","name":"lead_id","value":"={{$json[\"Lead ID\"] || \"\"}}","type":"string"},{"id":"93b3b85f-2c17-481d-b318-0f12286c732d","name":"row_number","value":"={{$json.row_number || 0}}","type":"number"},{"id":"2e42d347-68f1-4557-a865-c4e1551ffdd3","name":"existing_ai_summary","value":"={{$json[\"AI Summary\"] || \"\"}}","type":"string"}]},"options":{}},"id":"4139a751-a9ae-4606-966e-41952620ec7c","name":"Normalize Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,32]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const leadName = ($json.lead_name || '').trim();\nconst company = ($json.company || '').trim();\nconst role = ($json.role || '').trim();\nconst url = ($json.linkedin_url || '').trim();\nconst website = ($json.website || '').trim();\nconst note = ($json.manual_note || '').trim();\nconst leadSource = ($json.lead_source || '').trim();\n\nconst text = `${leadName} ${company} ${role} ${url} ${website} ${note} ${leadSource}`.toLowerCase();\n\nconst hasAny = (...terms) => terms.some(term => text.includes(term));\n\nlet segment = 'Unknown';\nlet contactType = 'Unknown';\nlet productFit = 'Unknown';\nlet outreachTrack = 'Nurture';\nlet examFocus = 'Unknown';\nlet roleSeniority = 'Unknown';\nlet audienceType = 'Unknown';\n\nif (hasAny('oet') && (hasAny('ielts') || hasAny('toefl') || hasAny('celpip'))) {\n  examFocus = 'Mixed';\n} else if (hasAny('oet')) {\n  examFocus = 'OET';\n} else if (hasAny('ielts')) {\n  examFocus = 'IELTS';\n} else if (hasAny('toefl')) {\n  examFocus = 'TOEFL';\n} else if (hasAny('celpip')) {\n  examFocus = 'CELPIP';\n}\n\nif (hasAny('academy', 'institute', 'training center', 'test prep', 'prep center', 'language center')) {\n  audienceType = 'Academy';\n} else if (hasAny('school', 'university', 'college')) {\n  audienceType = 'School';\n} else if (hasAny('solo', 'freelance', 'independent tutor', 'private tutor')) {\n  audienceType = 'Solo Teacher';\n} else if (hasAny('test prep', 'prep center', 'exam prep')) {\n  audienceType = 'Test Prep Center';\n}\n\nif (hasAny('founder')) {\n  roleSeniority = 'Founder';\n} else if (hasAny('owner', 'co-owner')) {\n  roleSeniority = 'Owner';\n} else if (hasAny('director', 'head of', 'principal', 'ceo')) {\n  roleSeniority = 'Director';\n} else if (hasAny('manager', 'administrator', 'admin')) {\n  roleSeniority = 'Manager';\n} else if (hasAny('coordinator', 'head teacher', 'lead teacher', 'academic manager', 'department head')) {\n  roleSeniority = 'Coordinator';\n} else if (hasAny('teacher', 'tutor', 'instructor', 'lecturer', 'examiner')) {\n  roleSeniority = 'Teacher';\n}\n\nif (hasAny('teacher', 'tutor', 'instructor', 'lecturer', 'examiner')) {\n  segment = 'Teacher';\n}\nif (hasAny('owner', 'founder', 'director', 'manager', 'administrator', 'admin', 'principal', 'ceo', 'co-founder')) {\n  segment = 'Owner/Admin';\n}\nif (hasAny('academy', 'school', 'institute', 'training center', 'prep center', 'language center')) {\n  segment = 'Academy';\n}\n\nconst isTeacher = hasAny('teacher', 'tutor', 'instructor', 'lecturer', 'examiner');\nconst isDecisionMaker = hasAny('owner', 'founder', 'director', 'manager', 'administrator', 'admin', 'principal', 'ceo', 'co-founder');\nconst isBoth = hasAny('coordinator', 'head teacher', 'lead teacher', 'academic manager', 'department head');\n\nif (isBoth) {\n  contactType = 'Both';\n} else if (isDecisionMaker) {\n  contactType = 'Decision Maker';\n} else if (isTeacher) {\n  contactType = 'Teacher';\n}\n\nif (contactType === 'Decision Maker' && (audienceType === 'Academy' || audienceType === 'School' || audienceType === 'Test Prep Center')) {\n  productFit = 'Blog Content Generator';\n} else if (contactType === 'Teacher') {\n  productFit = 'Teacher Tool';\n} else if (contactType === 'Both') {\n  productFit = 'Both';\n}\n\nif (contactType === 'Decision Maker' && productFit === 'Blog Content Generator') {\n  outreachTrack = 'DM-Content';\n} else if (contactType === 'Teacher' && productFit === 'Teacher Tool') {\n  outreachTrack = 'Teacher-Product';\n} else if (contactType === 'Teacher') {\n  outreachTrack = 'Teacher-Relationship';\n} else if (contactType === 'Both') {\n  outreachTrack = 'Nurture';\n} else if (contactType === 'Unknown' && !company && !website) {\n  outreachTrack = 'Ignore';\n}\n\nlet stage = 'New';\nlet nextAction = 'Review';\n\nif (outreachTrack === 'DM-Content') {\n  nextAction = 'Review and decide whether to send connection request';\n} else if (outreachTrack === 'Teacher-Product') {\n  nextAction = 'Review for teacher-product outreach';\n} else if (outreachTrack === 'Teacher-Relationship') {\n  nextAction = 'Review for soft relationship-building outreach';\n} else if (outreachTrack === 'Nurture') {\n  nextAction = 'Review and nurture later';\n} else if (outreachTrack === 'Ignore') {\n  nextAction = 'No action';\n}\n\nlet fitScore = 50;\n\nif (contactType === 'Decision Maker') fitScore += 20;\nif (productFit === 'Both') fitScore += 15;\nif (productFit === 'Blog Content Generator' && (audienceType === 'Academy' || audienceType === 'Test Prep Center' || audienceType === 'School')) fitScore += 15;\nif (examFocus === 'OET') fitScore += 10;\nif (website) fitScore += 10;\nif (company) fitScore += 5;\nif (note) fitScore += 5;\n\nif (contactType === 'Unknown') fitScore -= 15;\nif (productFit === 'Unknown') fitScore -= 15;\nif (!company && !website) fitScore -= 10;\nif (segment === 'Unknown' && !note && !role) fitScore -= 10;\n\nfitScore = Math.max(0, Math.min(100, fitScore));\n\nconst fitLabel = fitScore >= 75 ? 'High' : fitScore >= 60 ? 'Medium' : 'Low';\nconst priorityGuess = fitLabel === 'High' ? 'High' : fitLabel === 'Medium' ? 'Medium' : 'Low';\n\nconst today = new Date().toISOString().split('T')[0];\n\nreturn {\n  json: {\n    ...$json,\n    segment_guess: segment,\n    contact_type_guess: contactType,\n    product_fit_guess: productFit,\n    outreach_track_guess: outreachTrack,\n    exam_focus_guess: examFocus,\n    role_seniority_guess: roleSeniority,\n    audience_type_guess: audienceType,\n    priority_guess: priorityGuess,\n    stage_default: stage,\n    next_action: nextAction,\n    fit_score: fitScore,\n    fit_label: fitLabel,\n    today\n  }\n};"},"id":"31119147-bed1-4e82-a9ad-869f70cbe47a","name":"Initial Scoring Logic","type":"n8n-nodes-base.code","typeVersion":2,"position":[816,32]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let content =\n  $json.text ||\n  $json.response?.text ||\n  $json.content ||\n  '{}';\n\ncontent = String(content).trim();\n\ncontent = content\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\nconst firstBrace = content.indexOf('{');\nconst lastBrace = content.lastIndexOf('}');\n\nif (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n  content = content.slice(firstBrace, lastBrace + 1);\n}\n\nlet ai = {};\ntry {\n  ai = JSON.parse(content);\n} catch (e) {\n  ai = {};\n}\n\nconst base = $json;\n\nconst scoreAdj = Number(ai.fit_score_adjustment || 0);\nlet finalScore = Number(base.fit_score || 0) + scoreAdj;\nfinalScore = Math.max(0, Math.min(100, finalScore));\n\nconst finalFitLabel =\n  finalScore >= 75 ? 'High' :\n  finalScore >= 60 ? 'Medium' :\n  'Low';\n\nconst finalPriority =\n  ai.priority ||\n  base.priority_guess ||\n  (finalFitLabel === 'High' ? 'High' : finalFitLabel === 'Medium' ? 'Medium' : 'Low');\n\nconst finalSegment = ai.segment_final || base.segment_guess || 'Unknown';\nconst finalContactType = ai.contact_type || base.contact_type_guess || 'Unknown';\nconst finalProductFit = ai.product_fit || base.product_fit_guess || 'Unknown';\nconst finalOutreachTrack = ai.outreach_track || base.outreach_track_guess || 'Nurture';\nconst finalExamFocus = ai.exam_focus || base.exam_focus_guess || 'Unknown';\nconst finalRoleSeniority = ai.role_seniority || base.role_seniority_guess || 'Unknown';\nconst finalAudienceType = ai.audience_type || base.audience_type_guess || 'Unknown';\nconst finalRole = ai.role_guess || base.role || '';\nconst finalCompany = ai.company_guess || base.company || '';\nconst finalWebsite = ai.website_guess || base.website || '';\nconst finalRecommendedFirstStep = ai.recommended_first_step || base.next_action || 'Review';\nconst finalStage = base.stage_default || 'New';\nconst finalNextAction = finalRecommendedFirstStep === 'Ignore' ? 'No action' : finalRecommendedFirstStep;\n\nreturn {\n  json: {\n    ...base,\n    role_final: finalRole,\n    company_final: finalCompany,\n    website_final: finalWebsite,\n    segment_final: finalSegment,\n    contact_type_final: finalContactType,\n    product_fit_final: finalProductFit,\n    outreach_track_final: finalOutreachTrack,\n    exam_focus_final: finalExamFocus,\n    role_seniority_final: finalRoleSeniority,\n    audience_type_final: finalAudienceType,\n    pain_point_guess: ai.pain_point_guess || '',\n    ai_summary: ai.ai_summary || '',\n    personalization_angle: ai.personalization_angle || '',\n    recommended_first_step: finalRecommendedFirstStep,\n    next_action_final: finalNextAction,\n    fit_score_final: finalScore,\n    fit_label_final: finalFitLabel,\n    priority_final: finalPriority,\n    stage_final: finalStage,\n    next_action_date: base.today || '',\n    last_contact_date: '',\n    overview_sent: 'No',\n    booked_call: 'No'\n  }\n};"},"id":"97d0c91c-ab22-452a-92cf-9ea6e10446bc","name":"Merge AI Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,32]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs","mode":"id"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":0,"Lead Name":"={{$json.lead_name || \"\"}}","LinkedIn URL":"={{$json.linkedin_url || \"\"}}","Company":"={{$json.company_final || $json.company || \"\"}}","Website":"={{$json.website_final || $json.website || \"\"}}","Role":"={{$json.role_final || $json.role || \"\"}}","Segment":"={{$json.segment_final}}","Contact Type":"={{$json.contact_type_final}}","Product Fit":"={{$json.product_fit_final}}","Outreach track":"={{$json.outreach_track_final}}","Exam Focus":"={{$json.exam_focus_final}}","Role Seniority":"={{$json.role_seniority_final}}","Audience Type":"={{$json.audience_type_final}}","Lead Source":"={{$json.lead_source}}","Manual Note":"={{$json.manual_note}}","AI Summary":"={{$json.ai_summary}}","Personalization Angle":"={{$json.personalization_angle}}","Pain Point":"={{$json.pain_point_guess}}","Fit Score":"={{$json.fit_score_final}}","Fit Label":"={{$json.fit_label_final || \"\"}}","Priority":"={{$json.priority_final}}","Stage":"={{$json.stage_final}}","Recommended Next Step":"={{$json.recommended_first_step}}","Last Contact Date":"={{$json.last_contact_date}}","Next Action Date":"={{$json.next_action_date}}","Overview Sent":"={{$json.overview_sent}}","Booked Call":"={{$json.booked_call}}","Call Date":"={{$json.call_date || \"\"}}","Status Notes":"={{$json.status_notes || \"\"}}","Email":"={{$json.email || \"\"}}","Phone":"={{$json.phone || \"\"}}","Location":"={{$json.location || \"\"}}"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date Added","displayName":"Date Added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Lead Name","displayName":"Lead Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Segment","displayName":"Segment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Contact Type","displayName":"Contact Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Product Fit","displayName":"Product Fit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Outreach track","displayName":"Outreach track","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Exam Focus","displayName":"Exam Focus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Role Seniority","displayName":"Role Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Audience Type","displayName":"Audience Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Lead Source","displayName":"Lead Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Manual Note","displayName":"Manual Note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Personalization Angle","displayName":"Personalization Angle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pain Point","displayName":"Pain Point","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fit Score","displayName":"Fit Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fit Label","displayName":"Fit Label","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Priority","displayName":"Priority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stage","displayName":"Stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Recommended Next Step","displayName":"Recommended Next Step","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Last Contact Date","displayName":"Last Contact Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Next Action Date","displayName":"Next Action Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Overview Sent","displayName":"Overview Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Booked Call","displayName":"Booked Call","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Call Date","displayName":"Call Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status Notes","displayName":"Status Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"69033156-d9cf-47cb-80e1-a2fbb384d6b4","name":"Update Sheet Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1696,32],"credentials":{"googleSheetsOAuth2Api":{"id":"8aMGkwgKsyvUm7y2","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Lead Name: {{$json.lead_name}}\nCompany: {{$json.company}}\nRole: {{$json.role}}\nLinkedIn URL: {{$json.linkedin_url}}\nWebsite: {{$json.website}}\nManual Note: {{$json.manual_note}}\nLead Source: {{$json.lead_source}}\n\nCurrent rule-based guesses:\nSegment Guess: {{$json.segment_guess}}\nContact Type Guess: {{$json.contact_type_guess}}\nProduct Fit Guess: {{$json.product_fit_guess}}\nOutreach Track Guess: {{$json.outreach_track_guess}}\nExam Focus Guess: {{$json.exam_focus_guess}}\nRole Seniority Guess: {{$json.role_seniority_guess}}\nAudience Type Guess: {{$json.audience_type_guess}}\nFit Score: {{$json.fit_score}}\nFit Label: {{$json.fit_label}}\nPriority Guess: {{$json.priority_guess}}","messages":{"messageValues":[{"message":"You are enriching B2B outreach leads for a business that serves exam-English providers and teachers.  There are two main target groups: 1. Decision makers who may be a fit for a blog/content generation service 2. Teachers who may be a fit for a teacher-focused product, relationship-building outreach, or future nurturing  Your job is to review the provided lead fields and return one valid JSON object only.  Rules: - Return one valid JSON object only - Do not include markdown - Do not include code fences - Do not include any explanation before or after the JSON - If a field is unknown, return an empty string unless the schema requires one of the allowed labels - Keep outputs concise - ai_summary must be 30 words or fewer - personalization_angle must be short and practical - fit_score_adjustment must be an integer from -10 to 10  Use only the provided lead information. Do not invent facts. Do not claim certainty when the data is weak.  Allowed values:  segment_final: - Academy - Teacher - Owner/Admin - Unknown  contact_type: - Decision Maker - Teacher - Both - Unknown  product_fit: - Blog Content Generator - Teacher Tool - Both - Unknown  outreach_track: - DM-Content - Teacher-Product - Teacher-Relationship - Nurture - Ignore  exam_focus: - OET - IELTS - TOEFL - CELPIP - Mixed - Unknown  role_seniority: - Owner - Founder - Director - Manager - Coordinator - Teacher - Unknown  audience_type: - Academy - School - Solo Teacher - Test Prep Center - Unknown  priority: - High - Medium - Low  recommended_first_step: - Review - Connect - Nurture - Ignore  Return exactly this JSON structure:  {   \"role_guess\": \"\",   \"company_guess\": \"\",   \"website_guess\": \"\",   \"segment_final\": \"\",   \"contact_type\": \"\",   \"product_fit\": \"\",   \"outreach_track\": \"\",   \"exam_focus\": \"\",   \"role_seniority\": \"\",   \"audience_type\": \"\",   \"pain_point_guess\": \"\",   \"ai_summary\": \"\",   \"personalization_angle\": \"\",   \"recommended_first_step\": \"\",   \"fit_score_adjustment\": 0,   \"priority\": \"\" }"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[992,32],"id":"ed6fc2d2-47f3-4b02-bffc-620194e4817f","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":1200,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[912,224],"id":"777e2e86-9485-42c9-8359-a8bd724ddc98","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"kjFwKLGjvAJxRSm3","name":"Anthropic account"}}},{"parameters":{"content":"Classify each lead using only the current row fields:\n- lead_name\n- company\n- role\n- linkedin_url\n- website\n- manual_note\n- lead_source\n\nAssign the following fields using simple deterministic rules:\n\n1. segment_guess\nAllowed values:\n- Academy\n- Teacher\n- Owner/Admin\n- Unknown\n\n2. contact_type_guess\nAllowed values:\n- Decision Maker\n- Teacher\n- Both\n- Unknown\n\n3. product_fit_guess\nAllowed values:\n- Blog Content Generator\n- Teacher Tool\n- Both\n- Unknown\n\n4. outreach_track_guess\nAllowed values:\n- DM-Content\n- Teacher-Product\n- Teacher-Relationship\n- Nurture\n- Ignore\n\n5. exam_focus_guess\nAllowed values:\n- OET\n- IELTS\n- TOEFL\n- CELPIP\n- Mixed\n- Unknown\n\n6. role_seniority_guess\nAllowed values:\n- Owner\n- Founder\n- Director\n- Manager\n- Coordinator\n- Teacher\n- Unknown\n\n7. audience_type_guess\nAllowed values:\n- Academy\n- School\n- Solo Teacher\n- Test Prep Center\n- Unknown\n\n8. fit_score\nInteger from 0 to 100\n\n9. fit_label\nAllowed values:\n- High\n- Medium\n- Low\n\n10. priority_guess\nAllowed values:\n- High\n- Medium\n- Low\n\n11. stage_default\nDefault value:\n- New\n\n12. next_action\nDefault value:\n- Review\n\nRule hints:\n- If role contains founder, owner, director, head, manager, admin, principal, CEO, co-founder:\n  - contact_type_guess = Decision Maker\n  - role_seniority_guess = best matching seniority\n- If role contains teacher, tutor, instructor, examiner, lecturer:\n  - contact_type_guess = Teacher\n  - role_seniority_guess = Teacher\n- If role contains coordinator, academic manager, head teacher, lead teacher, department head:\n  - contact_type_guess = Both\n  - role_seniority_guess = Coordinator or Manager\n\nSegment rules:\n- Teacher-like roles -> Teacher\n- Owner/admin/leadership roles -> Owner/Admin\n- If company or notes suggest school, academy, center, institute, prep provider -> Academy\n- Else Unknown\n\nProduct fit rules:\n- Decision makers at academies, schools, prep centers -> Blog Content Generator\n- Teachers and exam instructors -> Teacher Tool\n- Coordinator / academic leadership / senior teacher -> Both\n- Unclear -> Unknown\n\nOutreach track rules:\n- Decision Maker + Blog Content Generator -> DM-Content\n- Teacher + Teacher Tool -> Teacher-Product\n- Teacher + unclear purchase authority -> Teacher-Relationship\n- Both -> Nurture\n- Obvious mismatch -> Ignore\n\nExam focus rules:\n- If row text mentions OET -> OET\n- If row text mentions IELTS -> IELTS\n- If row text mentions TOEFL -> TOEFL\n- If row text mentions CELPIP -> CELPIP\n- If more than one appears -> Mixed\n- Else Unknown\n\nAudience type rules:\n- company/notes/website suggests academy, institute, training center -> Academy or Test Prep Center\n- school / university / college -> School\n- independent tutor / freelance teacher -> Solo Teacher\n- else Unknown\n\nFit score rules:\nStart at 50.\nAdd:\n- +20 if Decision Maker\n- +15 if Product Fit = Both\n- +15 if Product Fit = Blog Content Generator and audience is Academy/Test Prep Center\n- +10 if exam focus is OET\n- +10 if website exists\n- +5 if notes suggest active business or real teaching offer\n\nSubtract:\n- -15 if Unknown contact type\n- -15 if Unknown product fit\n- -10 if no company and no website\n- -10 if unclear relevance\n\nClamp score between 0 and 100.\n\nfit_label:\n- 75+ = High\n- 60-74 = Medium\n- below 60 = Low\n\npriority_guess:\n- High if fit_label is High\n- Medium if fit_label is Medium\n- Low if fit_label is Low\n","height":448,"width":432},"type":"n8n-nodes-base.stickyNote","position":[1008,224],"typeVersion":1,"id":"762e0283-35d9-42a8-bf30-bc2e61658784","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[192,240],"id":"7f1ef4d2-6e42-48e8-aae2-d84b418fc544","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bd5a60d9-3b98-4d39-8d71-b32e79d2ef41","leftValue":"={{$json[\"AI Summary\"]}}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[384,48],"id":"95a208ae-b9ac-4c25-879d-7dd81646e85e","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs","mode":"id"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[192,48],"id":"7717ee12-a88d-45f3-afb1-d1da7824ff56","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8aMGkwgKsyvUm7y2","name":"Google Sheets account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"06d4ff82-a8e2-4f67-8ca6-fc2c28b3feaf","name":"Merge Base + AI","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1296,32]}],"connections":{"Normalize Fields":{"main":[[{"node":"Initial Scoring Logic","type":"main","index":0}]]},"Initial Scoring Logic":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0},{"node":"Merge Base + AI","type":"main","index":0}]]},"Merge AI Results":{"main":[[{"node":"Update Sheet Row","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Merge Base + AI","type":"main","index":1}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Normalize Fields","type":"main","index":0}]]},"Merge Base + AI":{"main":[[{"node":"Merge AI Results","type":"main","index":0}]]}},"authors":"Robert Winters","name":"Version ee9ff33d","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-22T09:22:25.278Z","createdAt":"2026-04-22T09:22:25.278Z","id":"mncuglJyiyL60hhb","name":"VPS-Sync"}]}