workflows/Social Media content generator from blogs.json
{"updatedAt":"2026-04-22T09:23:40.375Z","createdAt":"2026-04-10T10:45:11.105Z","id":"9gKfj3yZrHl1Novz","name":"Social Media content generator from blogs","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"50573d62-2102-49fe-8e5f-f64e04ebffcf","name":"When chat message received","webhookId":"dd581042-d378-4c61-b666-a32680f24850"},{"parameters":{"jsCode":"const chatInput = $input.first().json.chatInput || ''; let postId = chatInput.trim(); return [{ json: { postId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"0398aa86-dda0-47fc-817f-eec949d9b18c","name":"Extract Post ID"},{"parameters":{"url":"=https://blog.syllabixmark.ai/ghost/api/admin/posts/{{ $json.postId }}/","authentication":"predefinedCredentialType","nodeCredentialType":"ghostAdminApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,0],"id":"4ae464e6-bb03-442a-a446-e0edd404ebb5","name":"Fetch Ghost Post","credentials":{"ghostAdminApi":{"id":"yjtP5fKL8dw8eWwg","name":"Ghost Admin account"}}},{"parameters":{"promptType":"define","text":"==Please generate the Social Media Content Pack for the following blog post:\n\nPost Title: {{ $json.title }}\nPost URL: https://blog.syllabixmark.ai/{{ $json.slug }}/\nBlog Content: {{ $json.html }}","options":{"systemMessage":"You are the Lead Content Strategist for SyllabixMark. Your task is to generate a \"Social Media Content Pack\" based on the blog post provided.\n\nFormatting Rules:\n\nUse ONLY plain text.\n\nDO NOT use bolding, italics, or markdown (e.g., no ** or __).\n\nUse clear, simple headers like \"--- LINKEDIN POST ---\" to separate sections.\n\nEnsure there is a double line break between paragraphs to make it easy to select and copy.\n\nContent Structure:\nProvide the following sections in order: Header (Title/URL), LinkedIn Post, Facebook Post, X Thread (numbered 1/7, etc.), Reddit Post (Subreddit + Title + Body), Email Teaser (3 Subjects + Body), Instagram Caption (with Hashtags), and 5 Quote Cards.\n\nTone: Professional, empathetic to teachers (especially ESL/IELTS), and innovative. Focus on the value of SyllabixMark in reducing mechanical grading load.\n\nInstruction: Provide the FINAL copy only. No introductions, no \"Here is your content,\" and no empty brackets.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[704,0],"id":"c09d06eb-4572-40cf-a564-c3d96eaf0b3d","name":"Social Media Content Agent"},{"parameters":{"sendTo":"robwinters99@gmail.com","subject":"=📱 Social Media Pack","emailType":"text","message":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1200,0],"id":"a8e08dee-5e85-4a4b-87d9-09eb2a9f7bcf","name":"Send Gmail","webhookId":"b82da3da-6e68-4b41-a8b0-ca9797dafe7c","credentials":{"gmailOAuth2":{"id":"e8h6TIgFVzu7lknN","name":"Gmail account"}}},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[704,208],"id":"41368f55-8483-46f7-abf0-0c6f5d457a2f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"xdyxATiPSyyfGVhE","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Extract Post ID","type":"main","index":0}]]},"Extract Post ID":{"main":[[{"node":"Fetch Ghost Post","type":"main","index":0}]]},"Fetch Ghost Post":{"main":[[{"node":"Social Media Content Agent","type":"main","index":0}]]},"Social Media Content Agent":{"main":[[{"node":"Send Gmail","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Social Media Content Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"14a24bcc-49ee-4489-9c48-2723517d2aaf","activeVersionId":"14a24bcc-49ee-4489-9c48-2723517d2aaf","triggerCount":1,"shared":[{"updatedAt":"2026-04-10T10:45:11.109Z","createdAt":"2026-04-10T10:45:11.109Z","role":"workflow:owner","workflowId":"9gKfj3yZrHl1Novz","projectId":"3RRlwE0Ip44RqvAw"}],"activeVersion":{"updatedAt":"2026-04-16T06:22:26.000Z","createdAt":"2026-04-16T06:18:40.945Z","versionId":"14a24bcc-49ee-4489-9c48-2723517d2aaf","workflowId":"9gKfj3yZrHl1Novz","nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"50573d62-2102-49fe-8e5f-f64e04ebffcf","name":"When chat message received","webhookId":"dd581042-d378-4c61-b666-a32680f24850"},{"parameters":{"jsCode":"const chatInput = $input.first().json.chatInput || ''; let postId = chatInput.trim(); return [{ json: { postId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"0398aa86-dda0-47fc-817f-eec949d9b18c","name":"Extract Post ID"},{"parameters":{"url":"=https://blog.syllabixmark.ai/ghost/api/admin/posts/{{ $json.postId }}/","authentication":"predefinedCredentialType","nodeCredentialType":"ghostAdminApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,0],"id":"4ae464e6-bb03-442a-a446-e0edd404ebb5","name":"Fetch Ghost Post","credentials":{"ghostAdminApi":{"id":"yjtP5fKL8dw8eWwg","name":"Ghost Admin account"}}},{"parameters":{"promptType":"define","text":"==Please generate the Social Media Content Pack for the following blog post:\n\nPost Title: {{ $json.title }}\nPost URL: https://blog.syllabixmark.ai/{{ $json.slug }}/\nBlog Content: {{ $json.html }}","options":{"systemMessage":"You are the Lead Content Strategist for SyllabixMark. Your task is to generate a \"Social Media Content Pack\" based on the blog post provided.\n\nFormatting Rules:\n\nUse ONLY plain text.\n\nDO NOT use bolding, italics, or markdown (e.g., no ** or __).\n\nUse clear, simple headers like \"--- LINKEDIN POST ---\" to separate sections.\n\nEnsure there is a double line break between paragraphs to make it easy to select and copy.\n\nContent Structure:\nProvide the following sections in order: Header (Title/URL), LinkedIn Post, Facebook Post, X Thread (numbered 1/7, etc.), Reddit Post (Subreddit + Title + Body), Email Teaser (3 Subjects + Body), Instagram Caption (with Hashtags), and 5 Quote Cards.\n\nTone: Professional, empathetic to teachers (especially ESL/IELTS), and innovative. Focus on the value of SyllabixMark in reducing mechanical grading load.\n\nInstruction: Provide the FINAL copy only. No introductions, no \"Here is your content,\" and no empty brackets.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[704,0],"id":"c09d06eb-4572-40cf-a564-c3d96eaf0b3d","name":"Social Media Content Agent"},{"parameters":{"sendTo":"robwinters99@gmail.com","subject":"=📱 Social Media Pack","emailType":"text","message":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1200,0],"id":"a8e08dee-5e85-4a4b-87d9-09eb2a9f7bcf","name":"Send Gmail","webhookId":"b82da3da-6e68-4b41-a8b0-ca9797dafe7c","credentials":{"gmailOAuth2":{"id":"e8h6TIgFVzu7lknN","name":"Gmail account"}}},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[704,208],"id":"41368f55-8483-46f7-abf0-0c6f5d457a2f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"xdyxATiPSyyfGVhE","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Extract Post ID","type":"main","index":0}]]},"Extract Post ID":{"main":[[{"node":"Fetch Ghost Post","type":"main","index":0}]]},"Fetch Ghost Post":{"main":[[{"node":"Social Media Content Agent","type":"main","index":0}]]},"Social Media Content Agent":{"main":[[{"node":"Send Gmail","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Social Media Content Agent","type":"ai_languageModel","index":0}]]}},"authors":"Robert Winters","name":"Version 14a24bcc","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-22T09:22:25.278Z","createdAt":"2026-04-22T09:22:25.278Z","id":"mncuglJyiyL60hhb","name":"VPS-Sync"}]}