workflows/Workflow 2 - Daily Outreach Assistant.json
{"updatedAt":"2026-04-22T09:23:53.577Z","createdAt":"2026-04-14T07:25:22.030Z","id":"D0PFKKai2MZRu6bO","name":"Workflow 2 - Daily Outreach Assistant","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"18985b01-8d39-4397-8b6e-9f420b9b1e84","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0]},{"parameters":{"documentId":{"__rl":true,"value":"1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs","mode":"id"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"options":{}},"id":"6dcb8d49-1c59-4567-9f84-e160af8bea61","name":"Get row(s) in sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,0],"credentials":{"googleSheetsOAuth2Api":{"id":"8aMGkwgKsyvUm7y2","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f5d7c8d8-b16d-4af7-b427-dea2c0eb9761","leftValue":"={{$json[\"Stage\"]}}","rightValue":"Closed","operator":{"type":"string","operation":"notEquals"}},{"id":"6a774d27-316a-4111-8b7c-19fadc29830b","leftValue":"={{$json[\"Booked Call\"]}}","rightValue":"Yes","operator":{"type":"string","operation":"notEquals"}},{"id":"4c7bb0a9-787b-45da-8a5c-c3948cee135c","leftValue":"={{$json[\"AI Summary\"]}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9450e56e-30ac-4e15-a1c9-15384d57e775","leftValue":"={{$json[\"due_today_or_earlier\"]}}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"0d94ea0e-0fb7-4077-98fc-faf8d3681b8b","name":"Only Due Leads","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[592,272]},{"parameters":{"assignments":{"assignments":[{"id":"8aa7d202-53a3-4dbe-979b-78067c5778ba","name":"lead_name","value":"={{$json[\"Lead Name\"] || \"\"}}","type":"string"},{"id":"c8410309-9469-4edd-a53b-67e764e46b75","name":"linkedin_url","value":"={{$json[\"LinkedIn URL\"] || \"\"}}","type":"string"},{"id":"da617099-72a3-43ea-8981-bca9d93ba354","name":"company","value":"={{$json[\"Company\"] || \"\"}}","type":"string"},{"id":"f16e54a8-aee8-48dd-bed0-6e66bed01a6c","name":"website","value":"={{$json[\"Website\"] || \"\"}}","type":"string"},{"id":"951d841b-316c-4bc1-8370-c26a371f1daa","name":"role","value":"={{$json[\"Role\"] || \"\"}}","type":"string"},{"id":"e3a9a5d0-42bf-44d3-a68a-1f1667ad2802","name":"segment","value":"={{$json[\"Segment\"] || \"\"}}","type":"string"},{"id":"7eebaf48-0859-4125-8651-58ba9643bf25","name":"contact_type","value":"={{$json[\"Contact Type\"] || \"\"}}","type":"string"},{"id":"70342e6e-d715-4d60-8ba7-2b4d270bf4fa","name":"product_fit","value":"={{$json[\"Product Fit\"] || \"\"}}","type":"string"},{"id":"b85bcacb-a753-4256-bfb7-18e733de5483","name":"outreach_track","value":"={{$json[\"Outreach track\"] || \"\"}}","type":"string"},{"id":"f7a11d41-4593-42ee-b849-b8247487f509","name":"exam_focus","value":"={{$json[\"Exam Focus\"] || \"\"}}","type":"string"},{"id":"89bd12ac-ed48-413d-8414-2346929abaf8","name":"role_seniority","value":"={{$json[\"Role Seniority\"] || \"\"}}","type":"string"},{"id":"c29e7dd4-7b04-4ff4-9fd2-e13f8797586d","name":"audience_type","value":"={{$json[\"Audience Type\"] || \"\"}}","type":"string"},{"id":"02544966-7618-4324-a369-c2aab282c20a","name":"lead_source","value":"={{$json[\"Lead Source\"] || \"\"}}","type":"string"},{"id":"ee48138b-f8eb-4960-b4bd-270bdafcb817","name":"manual_note","value":"={{$json[\"Manual Note\"] || \"\"}}","type":"string"},{"id":"1672ef47-a1a4-4e59-b967-1be4035cdef4","name":"ai_summary","value":"={{$json[\"AI Summary\"] || \"\"}}","type":"string"},{"id":"dbb57185-2be0-4977-8468-b300feadfd2b","name":"personalization_angle","value":"={{$json[\"Personalization Angle\"] || \"\"}}","type":"string"},{"id":"16a19a8a-86b3-4984-91c9-9613792d9bb5","name":"pain_point","value":"={{$json[\"Pain Point\"] || \"\"}}","type":"string"},{"id":"9f17444a-5d87-4df2-9143-d64ebae3c4a3","name":"fit_score","value":"={{$json[\"Fit Score\"] || \"\"}}","type":"string"},{"id":"84d5bbc4-0953-4e65-a887-a4021bfaf2f0","name":"fit_label","value":"={{$json[\"Fit Label\"] || \"\"}}","type":"string"},{"id":"db97ac21-3573-436a-b8f6-71c12549a863","name":"priority","value":"={{$json[\"Priority\"] || \"\"}}","type":"string"},{"id":"dc61ade5-33ce-48a8-96a9-5f8998544009","name":"stage","value":"={{$json[\"Stage\"] || \"\"}}","type":"string"},{"id":"894f6c34-f72b-418a-8e47-13e33e8ca39b","name":"recommended_next_step","value":"={{$json[\"Recommended Next Step\"] || \"\"}}","type":"string"},{"id":"7694680e-5fd0-4e13-b29f-42f35f0f5bae","name":"last_contact_date","value":"={{$json[\"Last Contact Date\"] || \"\"}}","type":"string"},{"id":"811a9c3a-7153-4482-8ec5-fde0ad0b6656","name":"next_action_date","value":"={{$json[\"Next Action Date\"] || \"\"}}","type":"string"},{"id":"d55311f5-bf54-46ab-a87a-2a20ce5812b9","name":"overview_sent","value":"={{$json[\"Overview Sent\"] || \"\"}}","type":"string"},{"id":"b992c29c-a421-44ee-99ec-8c73171d86fd","name":"booked_call","value":"={{$json[\"Booked Call\"] || \"\"}}","type":"string"},{"id":"3285b457-dc3f-49bc-94ee-89b92b8bdc82","name":"email","value":"={{$json[\"Email\"] || \"\"}}","type":"string"},{"id":"33d2f562-7b5a-4cf8-94d2-7f36569dffd3","name":"phone","value":"={{$json[\"Phone\"] || \"\"}}","type":"string"},{"id":"18ff261d-5e9d-4546-be11-d45f0dcea443","name":"location","value":"={{$json[\"Location\"] || \"\"}}","type":"string"},{"id":"d91a8807-4026-4659-9e52-933c69a445e8","name":"row_number","value":"={{$json.row_number || 0}}","type":"number"}]},"options":{}},"id":"c58bcb12-120f-4249-a94f-d5377e3e1515","name":"Normalize Outreach Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,0]},{"parameters":{"promptType":"define","text":"=Lead Name: {{$json.lead_name}}\nCompany: {{$json.company}}\nRole: {{$json.role}}\nLinkedIn URL: {{$json.linkedin_url}}\nWebsite: {{$json.website}}\nSegment: {{$json.segment}}\nContact Type: {{$json.contact_type}}\nProduct Fit: {{$json.product_fit}}\nOutreach Track: {{$json.outreach_track}}\nExam Focus: {{$json.exam_focus}}\nRole Seniority: {{$json.role_seniority}}\nAudience Type: {{$json.audience_type}}\nLead Source: {{$json.lead_source}}\nAI Summary: {{$json.ai_summary}}\nPersonalization Angle: {{$json.personalization_angle}}\nPain Point: {{$json.pain_point}}\nFit Score: {{$json.fit_score}}\nFit Label: {{$json.fit_label}}\nPriority: {{$json.priority}}\nStage: {{$json.stage}}\nRecommended Next Step: {{$json.recommended_next_step}}\nLast Contact Date: {{$json.last_contact_date}}\nNext Action Date: {{$json.next_action_date}}\nOverview Sent: {{$json.overview_sent}}\nBooked Call: {{$json.booked_call}}\n\nWrite one concise action brief for me to manually use today.","messages":{"messageValues":[{"message":"=You are a daily outreach assistant for manual LinkedIn and light email follow-up.\n\nYour job is to review one lead and return one valid JSON object only.\n\nYou are writing drafts for a human who works in the exam-English space. The goal is to create low-pressure, natural outreach that opens relationships gently. Do not sound like a cold salesperson. Do not pitch too early.\n\nReturn JSON only. No markdown. No code fences. No explanation before or after the JSON.\n\nUse only the provided lead fields. Do not invent facts. Keep every field concise and practical.\n\nReturn exactly this JSON structure:\n{\n  \"recommended_action\": \"\",\n  \"why_now\": \"\",\n  \"draft_message\": \"\",\n  \"stage_bucket\": \"\",\n  \"urgency\": \"\"\n}\n\nAllowed values:\n- recommended_action: \"Connect\", \"Send Message\", \"Review\", \"Nurture\", \"Ignore\"\n- stage_bucket: \"New\", \"Warm\", \"Active\", \"Waiting\", \"Closed\"\n- urgency: \"High\", \"Medium\", \"Low\"\n\nDecision rules:\n- Use \"Connect\" for new leads with no prior contact where a light LinkedIn connection request makes sense.\n- Use \"Send Message\" for leads who already accepted a connection or where a follow-up message is clearly the next step.\n- Use \"Review\" when fit is unclear, data is weak, or the lead may need manual judgment before outreach.\n- Use \"Nurture\" when the lead is relevant but not a priority for immediate contact.\n- Use \"Ignore\" when the lead is clearly low-fit or lacks enough context.\n\nTone rules:\n- Be warm, calm, relevant, and low-pressure.\n- Avoid hype, sales language, and aggressive calls to action.\n- Do not sound like a cold outbound marketer.\n- Do not over-personalize based on thin evidence.\n- Do not make claims that are not directly supported by the lead fields.\n\nAdditional style rules:\n- Do not use em dashes.\n- Use simple natural punctuation only, mainly commas and periods.\n- Keep draft_message on a single line.\n- Do not include any label or prefix inside draft_message.\n- The message should be easy to copy and paste directly into LinkedIn.\n\nRules for \"why_now\":\n- Keep to 1 short sentence.\n- Explain timing or relevance simply.\n- Do not exaggerate urgency.\n\nRules for \"draft_message\":\n- Match the recommended_action.\n\nIf recommended_action = \"Connect\":\n- Write a gentle LinkedIn connection request only.\n- Maximum 30 words.\n- No selling.\n- No mention of SEO, blog content, lead generation, scaling content, service offers, or business outcomes.\n- No “quick chat”, “worth a conversation”, “book a call”, “would you be open to a chat”, or similar CTA.\n- The only ask is connecting.\n- Personalize lightly using niche, company, role, or provider name if relevant.\n- It should feel natural, simple, and professional.\n\nGood style examples for \"Connect\":\n- Hi [Name] — I work in the exam-English space and am connecting with OET providers and educators. Thought it made sense to connect.\n- Hi [Name] — I’m building in the OET/IELTS education space and like what you’re doing with [school/provider name]. Would be great to connect.\n- Hi [Name] — I work with exam-English education tools and content systems, and I’m getting to know more OET providers. Happy to connect.\n\nIf recommended_action = \"Send Message\":\n- Write a warm first follow-up after connection accepted.\n- Maximum 50 words.\n- Keep it conversational and low-pressure.\n- Focus on shared context, curiosity, or one relevant observation.\n- No hard sell.\n- No mention of SEO, blog content services, or content marketing unless the lead is clearly a decision-maker and the context strongly supports it.\n- Do not ask for a call in the first follow-up unless the lead is clearly warm and highly qualified.\n- Prefer a friendly question or simple shared-context opener.\n\nGood style examples for \"Send Message\":\n- Hi [Name], thanks for connecting — I work in the exam-English space and always like meeting people building strong OET programs. Curious what kinds of learners you work with most.\n- Hi [Name], appreciate the connection. I spend a lot of time around OET and IELTS teaching workflows and always enjoy hearing what’s working well for educators in this space.\n- Hi [Name], thanks for connecting. I like meeting people working in specialist English education and comparing notes on what learners and teachers are struggling with most right now.\n\nIf recommended_action = \"Review\":\n- draft_message should be brief and internal-use in tone, or empty if no outreach should be made yet.\n- Do not write a polished outreach draft if fit is weak or unclear.\n\nOutput preferences:\n- recommended_action should reflect the safest sensible next move.\n- why_now should be plain and practical.\n- draft_message should sound human and restrained.\n- When in doubt, be gentler and less salesy.\n\nLead data:\nLead Name: {{$json.lead_name}}\nCompany: {{$json.company}}\nRole: {{$json.role}}\nLinkedIn URL: {{$json.linkedin_url}}\nWebsite: {{$json.website}}\nSegment: {{$json.segment}}\nContact Type: {{$json.contact_type}}\nProduct Fit: {{$json.product_fit}}\nOutreach Track: {{$json.outreach_track}}\nExam Focus: {{$json.exam_focus}}\nRole Seniority: {{$json.role_seniority}}\nAudience Type: {{$json.audience_type}}\nLead Source: {{$json.lead_source}}\nManual Note: {{$json.manual_note}}\nAI Summary: {{$json.ai_summary}}\nPersonalization Angle: {{$json.personalization_angle}}\nPain Point: {{$json.pain_point}}\nFit Score: {{$json.fit_score}}\nFit Label: {{$json.fit_label}}\nPriority: {{$json.priority}}\nStage: {{$json.stage}}\nRecommended Next Step: {{$json.recommended_next_step}}\nLast Contact Date: {{$json.last_contact_date}}\nNext Action Date: {{$json.next_action_date}}\nOverview Sent: {{$json.overview_sent}}\nBooked Call: {{$json.booked_call}}\n\nNow return one concise JSON object only.\n"}]},"batching":{}},"id":"35c5233b-41a4-4329-b458-b8bed53675bd","name":"Draft Daily Outreach","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[992,0]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":1000,"temperature":0.2}},"id":"9063d695-b143-4930-871e-b38b5c10e107","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[928,208],"credentials":{"anthropicApi":{"id":"kjFwKLGjvAJxRSm3","name":"Anthropic account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let content = $json.text || $json.response?.text || $json.content || '{}';\ncontent = String(content).trim();\ncontent = content.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\nconst firstBrace = content.indexOf('{');\nconst lastBrace = content.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) { content = content.slice(firstBrace, lastBrace + 1); }\nlet ai = {};\ntry { ai = JSON.parse(content); } catch (e) { ai = {}; }\nreturn { json: { ...$json, recommended_action: ai.recommended_action || 'Review', why_now: ai.why_now || '', draft_message: ai.draft_message || '', stage_bucket: ai.stage_bucket || 'New', urgency: ai.urgency || 'Medium' } };"},"id":"99eef991-b9cd-40f1-83a6-27c7ba4dd11b","name":"Parse Outreach Draft","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,0]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const name = $json.lead_name || $json[\"Lead Name\"] || $json.leadname || 'Unknown';\n\nconst line = `Who - ${name}\\nAction - ${$json.recommended_action || ''}\\nWhy - ${$json.why_now || ''}\\n${$json.draft_message || ''}`;\n\nreturn { json: { ...$json, digest_line: line } };"},"id":"9d1637dd-16e2-4ae8-b7ab-c8bd3c701db1","name":"Build Digest Lines","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,0]},{"parameters":{"jsCode":"const items = $input.all();\nconst today = new Date().toISOString().split('T')[0];\nconst lines = items.map((item, i) => `${i + 1}. ${item.json.digest_line}`);\nconst body = lines.length\n  ? `Daily outreach queue for ${today}\\n\\n${lines.join('\\n\\n')}`\n  : `Daily outreach queue for ${today}\\n\\nNo leads due today.`;\nreturn { json: { subject: `Daily Outreach Queue - ${today}`, body, due_count: items.length } };"},"id":"d6c369b5-39a9-495e-a0ca-72f192848e2d","name":"Aggregate Digest","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,0]},{"parameters":{"sendTo":"robwinters99@gmail.com","subject":"={{$json.subject}}","emailType":"text","message":"={{$json.body}}","options":{}},"id":"081c7e07-a124-4bab-b129-679a482ebeea","name":"Send Daily Digest","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2048,0],"webhookId":"13ab7581-dd9c-4a2e-af97-1626bfa0829e","credentials":{"gmailOAuth2":{"id":"e8h6TIgFVzu7lknN","name":"Gmail account"}}},{"parameters":{"jsCode":"const today = new Date().toISOString().split('T')[0];\nreturn { json: { subject: `Daily Outreach Queue - ${today}`, body: `Daily outreach queue for ${today}\\n\\nNo leads due today.`, due_count: 0 } };"},"id":"307ff8d4-768f-4581-b10f-9c5a0558e7d2","name":"No Due Leads","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,160]},{"parameters":{"content":"Workflow #2: Daily Outreach Assistant\n\nPurpose:\n- Runs every morning\n- Finds leads due today or overdue\n- Uses AI to suggest the next manual action and a draft message\n- Emails you one digest\n\nImportant:\n- Reassign Google Sheets, Anthropic, and Gmail credentials after import\n- Replace the recipient email in Send Daily Digest\n- This workflow does not auto-send LinkedIn messages; it prepares a manual queue","height":320,"width":420},"id":"da15cb87-ba8a-45af-b7d9-0ceadb46f935","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,512]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const raw = $json[\"Next Action Date\"];\nlet next_action_date_iso = '';\nlet due_today_or_earlier = false;\n\nif (raw && String(raw).trim() !== '') {\n  const s = String(raw).trim();\n\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) {\n    next_action_date_iso = s;\n  } else {\n    const d = new Date(s);\n    if (!isNaN(d.getTime())) {\n      next_action_date_iso = d.toISOString().split('T')[0];\n    }\n  }\n}\n\nconst today = new Date().toISOString().split('T')[0];\n\nif (next_action_date_iso && next_action_date_iso <= today) {\n  due_today_or_earlier = true;\n}\n\nreturn {\n  ...$json,\n  next_action_date_iso,\n  due_today_or_earlier\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,240],"id":"184987da-de21-41ee-9b00-dac068010582","name":"Code in JavaScript"},{"parameters":{"content":"FIX TO ADD NAME AND linkedin_url in the email\n\nYou’re right — the prompt is fine. The issue is not that Draft Daily Outreach can’t see lead_name and linkedin_url; it clearly can, because they’re in the input and referenced in the prompt. The issue is that this kind of AI node typically outputs its own response payload, often just a text field, instead of automatically passing through all original input fields.\n\nWhat that means\nSo yes:\n\nInput to Draft Daily Outreach has the lead fields.\n\nOutput from Draft Daily Outreach only has text.\n\nThat means the node is replacing the item payload with the model response, not preserving the original fields.\n\nBest fix\nDo not try to fix this in the prompt.\nAdd a Merge step after parsing so you combine:\n\nInput 1: original record from Normalize Outreach Fields\n\nInput 2: parsed JSON from Parse Outreach Draft\n\nExact structure\nChange the flow to:\n\nNormalize Outreach Fields\n\nDraft Daily Outreach\n\nParse Outreach Draft\n\nMerge\n\nBuild Digest Lines\n\nHow to configure Merge\nIn the Merge node:\n\nMode: Combine\n\nCombine by: Position or Index if both branches preserve item order\n\nConnect:\n\nNormalize Outreach Fields → Merge input 1\n\nParse Outreach Draft → Merge input 2\n\nThat will give each final item both:\n\nlead_name, linkedin_url, etc.\n\nrecommended_action, why_now, draft_message\n\n\n\n\n\nWhy this is the clean fix\nAI nodes often return only model output, and n8n’s Merge node is the standard way to recombine original context with processed AI results when a downstream step needs both.\n\nAfter that\nYour Build Digest Lines code should work:\n\njavascript\nconst name = $json[\"Lead Name\"] || $json.lead_name || $json.leadname || '';\nconst link = $json[\"LinkedIn URL\"] || $json.linkedin_url || $json.linkedinurl || '';\n\nconst line = `Who - ${name}\\nLink - ${link}\\nAction - ${$json.recommended_action || ''}\\nWhy - ${$json.why_now || ''}\\nDraft - ${$json.draft_message || ''}`;\n\nreturn { json: { ...$json, digest_line: line } };\nThat covers both naming styles safely.\n\nShort answer\nYou were correct: the prompt is not the problem.\nThe fix is to merge the original lead item back in after the AI output is parsed.\n\nIf you want, I can give you the exact click-by-click Merge node settings next.","height":560,"width":544},"type":"n8n-nodes-base.stickyNote","position":[-192,224],"typeVersion":1,"id":"256c90a2-e6ad-4ab3-96ef-cabd6956e7cd","name":"Sticky Note1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1344,528],"id":"953a19ab-c59c-45a3-a0c9-39ebff0d7198","name":"Merge"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Only Due Leads":{"main":[[{"node":"Normalize Outreach Fields","type":"main","index":0}],[{"node":"No Due Leads","type":"main","index":0}]]},"Normalize Outreach Fields":{"main":[[{"node":"Draft Daily Outreach","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Draft Daily Outreach","type":"ai_languageModel","index":0}]]},"Draft Daily Outreach":{"main":[[{"node":"Parse Outreach Draft","type":"main","index":0}]]},"Parse Outreach Draft":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Build Digest Lines":{"main":[[{"node":"Aggregate Digest","type":"main","index":0}]]},"Aggregate Digest":{"main":[[{"node":"Send Daily Digest","type":"main","index":0}]]},"No Due Leads":{"main":[[{"node":"Send Daily Digest","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Only Due Leads","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Build Digest Lines","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d7ec46f9-cc82-4167-8202-cf26401ee1c8","activeVersionId":"d7ec46f9-cc82-4167-8202-cf26401ee1c8","triggerCount":1,"shared":[{"updatedAt":"2026-04-14T07:25:22.036Z","createdAt":"2026-04-14T07:25:22.036Z","role":"workflow:owner","workflowId":"D0PFKKai2MZRu6bO","projectId":"3RRlwE0Ip44RqvAw"}],"activeVersion":{"updatedAt":"2026-04-15T05:34:06.000Z","createdAt":"2026-04-15T05:31:27.110Z","versionId":"d7ec46f9-cc82-4167-8202-cf26401ee1c8","workflowId":"D0PFKKai2MZRu6bO","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"18985b01-8d39-4397-8b6e-9f420b9b1e84","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0]},{"parameters":{"documentId":{"__rl":true,"value":"1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs","mode":"id"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"options":{}},"id":"6dcb8d49-1c59-4567-9f84-e160af8bea61","name":"Get row(s) in sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,0],"credentials":{"googleSheetsOAuth2Api":{"id":"8aMGkwgKsyvUm7y2","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f5d7c8d8-b16d-4af7-b427-dea2c0eb9761","leftValue":"={{$json[\"Stage\"]}}","rightValue":"Closed","operator":{"type":"string","operation":"notEquals"}},{"id":"6a774d27-316a-4111-8b7c-19fadc29830b","leftValue":"={{$json[\"Booked Call\"]}}","rightValue":"Yes","operator":{"type":"string","operation":"notEquals"}},{"id":"4c7bb0a9-787b-45da-8a5c-c3948cee135c","leftValue":"={{$json[\"AI Summary\"]}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9450e56e-30ac-4e15-a1c9-15384d57e775","leftValue":"={{$json[\"due_today_or_earlier\"]}}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"0d94ea0e-0fb7-4077-98fc-faf8d3681b8b","name":"Only Due Leads","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[592,272]},{"parameters":{"assignments":{"assignments":[{"id":"8aa7d202-53a3-4dbe-979b-78067c5778ba","name":"lead_name","value":"={{$json[\"Lead Name\"] || \"\"}}","type":"string"},{"id":"c8410309-9469-4edd-a53b-67e764e46b75","name":"linkedin_url","value":"={{$json[\"LinkedIn URL\"] || \"\"}}","type":"string"},{"id":"da617099-72a3-43ea-8981-bca9d93ba354","name":"company","value":"={{$json[\"Company\"] || \"\"}}","type":"string"},{"id":"f16e54a8-aee8-48dd-bed0-6e66bed01a6c","name":"website","value":"={{$json[\"Website\"] || \"\"}}","type":"string"},{"id":"951d841b-316c-4bc1-8370-c26a371f1daa","name":"role","value":"={{$json[\"Role\"] || \"\"}}","type":"string"},{"id":"e3a9a5d0-42bf-44d3-a68a-1f1667ad2802","name":"segment","value":"={{$json[\"Segment\"] || \"\"}}","type":"string"},{"id":"7eebaf48-0859-4125-8651-58ba9643bf25","name":"contact_type","value":"={{$json[\"Contact Type\"] || \"\"}}","type":"string"},{"id":"70342e6e-d715-4d60-8ba7-2b4d270bf4fa","name":"product_fit","value":"={{$json[\"Product Fit\"] || \"\"}}","type":"string"},{"id":"b85bcacb-a753-4256-bfb7-18e733de5483","name":"outreach_track","value":"={{$json[\"Outreach track\"] || \"\"}}","type":"string"},{"id":"f7a11d41-4593-42ee-b849-b8247487f509","name":"exam_focus","value":"={{$json[\"Exam Focus\"] || \"\"}}","type":"string"},{"id":"89bd12ac-ed48-413d-8414-2346929abaf8","name":"role_seniority","value":"={{$json[\"Role Seniority\"] || \"\"}}","type":"string"},{"id":"c29e7dd4-7b04-4ff4-9fd2-e13f8797586d","name":"audience_type","value":"={{$json[\"Audience Type\"] || \"\"}}","type":"string"},{"id":"02544966-7618-4324-a369-c2aab282c20a","name":"lead_source","value":"={{$json[\"Lead Source\"] || \"\"}}","type":"string"},{"id":"ee48138b-f8eb-4960-b4bd-270bdafcb817","name":"manual_note","value":"={{$json[\"Manual Note\"] || \"\"}}","type":"string"},{"id":"1672ef47-a1a4-4e59-b967-1be4035cdef4","name":"ai_summary","value":"={{$json[\"AI Summary\"] || \"\"}}","type":"string"},{"id":"dbb57185-2be0-4977-8468-b300feadfd2b","name":"personalization_angle","value":"={{$json[\"Personalization Angle\"] || \"\"}}","type":"string"},{"id":"16a19a8a-86b3-4984-91c9-9613792d9bb5","name":"pain_point","value":"={{$json[\"Pain Point\"] || \"\"}}","type":"string"},{"id":"9f17444a-5d87-4df2-9143-d64ebae3c4a3","name":"fit_score","value":"={{$json[\"Fit Score\"] || \"\"}}","type":"string"},{"id":"84d5bbc4-0953-4e65-a887-a4021bfaf2f0","name":"fit_label","value":"={{$json[\"Fit Label\"] || \"\"}}","type":"string"},{"id":"db97ac21-3573-436a-b8f6-71c12549a863","name":"priority","value":"={{$json[\"Priority\"] || \"\"}}","type":"string"},{"id":"dc61ade5-33ce-48a8-96a9-5f8998544009","name":"stage","value":"={{$json[\"Stage\"] || \"\"}}","type":"string"},{"id":"894f6c34-f72b-418a-8e47-13e33e8ca39b","name":"recommended_next_step","value":"={{$json[\"Recommended Next Step\"] || \"\"}}","type":"string"},{"id":"7694680e-5fd0-4e13-b29f-42f35f0f5bae","name":"last_contact_date","value":"={{$json[\"Last Contact Date\"] || \"\"}}","type":"string"},{"id":"811a9c3a-7153-4482-8ec5-fde0ad0b6656","name":"next_action_date","value":"={{$json[\"Next Action Date\"] || \"\"}}","type":"string"},{"id":"d55311f5-bf54-46ab-a87a-2a20ce5812b9","name":"overview_sent","value":"={{$json[\"Overview Sent\"] || \"\"}}","type":"string"},{"id":"b992c29c-a421-44ee-99ec-8c73171d86fd","name":"booked_call","value":"={{$json[\"Booked Call\"] || \"\"}}","type":"string"},{"id":"3285b457-dc3f-49bc-94ee-89b92b8bdc82","name":"email","value":"={{$json[\"Email\"] || \"\"}}","type":"string"},{"id":"33d2f562-7b5a-4cf8-94d2-7f36569dffd3","name":"phone","value":"={{$json[\"Phone\"] || \"\"}}","type":"string"},{"id":"18ff261d-5e9d-4546-be11-d45f0dcea443","name":"location","value":"={{$json[\"Location\"] || \"\"}}","type":"string"},{"id":"d91a8807-4026-4659-9e52-933c69a445e8","name":"row_number","value":"={{$json.row_number || 0}}","type":"number"}]},"options":{}},"id":"c58bcb12-120f-4249-a94f-d5377e3e1515","name":"Normalize Outreach Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,0]},{"parameters":{"promptType":"define","text":"=Lead Name: {{$json.lead_name}}\nCompany: {{$json.company}}\nRole: {{$json.role}}\nLinkedIn URL: {{$json.linkedin_url}}\nWebsite: {{$json.website}}\nSegment: {{$json.segment}}\nContact Type: {{$json.contact_type}}\nProduct Fit: {{$json.product_fit}}\nOutreach Track: {{$json.outreach_track}}\nExam Focus: {{$json.exam_focus}}\nRole Seniority: {{$json.role_seniority}}\nAudience Type: {{$json.audience_type}}\nLead Source: {{$json.lead_source}}\nAI Summary: {{$json.ai_summary}}\nPersonalization Angle: {{$json.personalization_angle}}\nPain Point: {{$json.pain_point}}\nFit Score: {{$json.fit_score}}\nFit Label: {{$json.fit_label}}\nPriority: {{$json.priority}}\nStage: {{$json.stage}}\nRecommended Next Step: {{$json.recommended_next_step}}\nLast Contact Date: {{$json.last_contact_date}}\nNext Action Date: {{$json.next_action_date}}\nOverview Sent: {{$json.overview_sent}}\nBooked Call: {{$json.booked_call}}\n\nWrite one concise action brief for me to manually use today.","messages":{"messageValues":[{"message":"=You are a daily outreach assistant for manual LinkedIn and light email follow-up.\n\nYour job is to review one lead and return one valid JSON object only.\n\nYou are writing drafts for a human who works in the exam-English space. The goal is to create low-pressure, natural outreach that opens relationships gently. Do not sound like a cold salesperson. Do not pitch too early.\n\nReturn JSON only. No markdown. No code fences. No explanation before or after the JSON.\n\nUse only the provided lead fields. Do not invent facts. Keep every field concise and practical.\n\nReturn exactly this JSON structure:\n{\n  \"recommended_action\": \"\",\n  \"why_now\": \"\",\n  \"draft_message\": \"\",\n  \"stage_bucket\": \"\",\n  \"urgency\": \"\"\n}\n\nAllowed values:\n- recommended_action: \"Connect\", \"Send Message\", \"Review\", \"Nurture\", \"Ignore\"\n- stage_bucket: \"New\", \"Warm\", \"Active\", \"Waiting\", \"Closed\"\n- urgency: \"High\", \"Medium\", \"Low\"\n\nDecision rules:\n- Use \"Connect\" for new leads with no prior contact where a light LinkedIn connection request makes sense.\n- Use \"Send Message\" for leads who already accepted a connection or where a follow-up message is clearly the next step.\n- Use \"Review\" when fit is unclear, data is weak, or the lead may need manual judgment before outreach.\n- Use \"Nurture\" when the lead is relevant but not a priority for immediate contact.\n- Use \"Ignore\" when the lead is clearly low-fit or lacks enough context.\n\nTone rules:\n- Be warm, calm, relevant, and low-pressure.\n- Avoid hype, sales language, and aggressive calls to action.\n- Do not sound like a cold outbound marketer.\n- Do not over-personalize based on thin evidence.\n- Do not make claims that are not directly supported by the lead fields.\n\nAdditional style rules:\n- Do not use em dashes.\n- Use simple natural punctuation only, mainly commas and periods.\n- Keep draft_message on a single line.\n- Do not include any label or prefix inside draft_message.\n- The message should be easy to copy and paste directly into LinkedIn.\n\nRules for \"why_now\":\n- Keep to 1 short sentence.\n- Explain timing or relevance simply.\n- Do not exaggerate urgency.\n\nRules for \"draft_message\":\n- Match the recommended_action.\n\nIf recommended_action = \"Connect\":\n- Write a gentle LinkedIn connection request only.\n- Maximum 30 words.\n- No selling.\n- No mention of SEO, blog content, lead generation, scaling content, service offers, or business outcomes.\n- No “quick chat”, “worth a conversation”, “book a call”, “would you be open to a chat”, or similar CTA.\n- The only ask is connecting.\n- Personalize lightly using niche, company, role, or provider name if relevant.\n- It should feel natural, simple, and professional.\n\nGood style examples for \"Connect\":\n- Hi [Name] — I work in the exam-English space and am connecting with OET providers and educators. Thought it made sense to connect.\n- Hi [Name] — I’m building in the OET/IELTS education space and like what you’re doing with [school/provider name]. Would be great to connect.\n- Hi [Name] — I work with exam-English education tools and content systems, and I’m getting to know more OET providers. Happy to connect.\n\nIf recommended_action = \"Send Message\":\n- Write a warm first follow-up after connection accepted.\n- Maximum 50 words.\n- Keep it conversational and low-pressure.\n- Focus on shared context, curiosity, or one relevant observation.\n- No hard sell.\n- No mention of SEO, blog content services, or content marketing unless the lead is clearly a decision-maker and the context strongly supports it.\n- Do not ask for a call in the first follow-up unless the lead is clearly warm and highly qualified.\n- Prefer a friendly question or simple shared-context opener.\n\nGood style examples for \"Send Message\":\n- Hi [Name], thanks for connecting — I work in the exam-English space and always like meeting people building strong OET programs. Curious what kinds of learners you work with most.\n- Hi [Name], appreciate the connection. I spend a lot of time around OET and IELTS teaching workflows and always enjoy hearing what’s working well for educators in this space.\n- Hi [Name], thanks for connecting. I like meeting people working in specialist English education and comparing notes on what learners and teachers are struggling with most right now.\n\nIf recommended_action = \"Review\":\n- draft_message should be brief and internal-use in tone, or empty if no outreach should be made yet.\n- Do not write a polished outreach draft if fit is weak or unclear.\n\nOutput preferences:\n- recommended_action should reflect the safest sensible next move.\n- why_now should be plain and practical.\n- draft_message should sound human and restrained.\n- When in doubt, be gentler and less salesy.\n\nLead data:\nLead Name: {{$json.lead_name}}\nCompany: {{$json.company}}\nRole: {{$json.role}}\nLinkedIn URL: {{$json.linkedin_url}}\nWebsite: {{$json.website}}\nSegment: {{$json.segment}}\nContact Type: {{$json.contact_type}}\nProduct Fit: {{$json.product_fit}}\nOutreach Track: {{$json.outreach_track}}\nExam Focus: {{$json.exam_focus}}\nRole Seniority: {{$json.role_seniority}}\nAudience Type: {{$json.audience_type}}\nLead Source: {{$json.lead_source}}\nManual Note: {{$json.manual_note}}\nAI Summary: {{$json.ai_summary}}\nPersonalization Angle: {{$json.personalization_angle}}\nPain Point: {{$json.pain_point}}\nFit Score: {{$json.fit_score}}\nFit Label: {{$json.fit_label}}\nPriority: {{$json.priority}}\nStage: {{$json.stage}}\nRecommended Next Step: {{$json.recommended_next_step}}\nLast Contact Date: {{$json.last_contact_date}}\nNext Action Date: {{$json.next_action_date}}\nOverview Sent: {{$json.overview_sent}}\nBooked Call: {{$json.booked_call}}\n\nNow return one concise JSON object only.\n"}]},"batching":{}},"id":"35c5233b-41a4-4329-b458-b8bed53675bd","name":"Draft Daily Outreach","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[992,0]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":1000,"temperature":0.2}},"id":"9063d695-b143-4930-871e-b38b5c10e107","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[928,208],"credentials":{"anthropicApi":{"id":"kjFwKLGjvAJxRSm3","name":"Anthropic account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let content = $json.text || $json.response?.text || $json.content || '{}';\ncontent = String(content).trim();\ncontent = content.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\nconst firstBrace = content.indexOf('{');\nconst lastBrace = content.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) { content = content.slice(firstBrace, lastBrace + 1); }\nlet ai = {};\ntry { ai = JSON.parse(content); } catch (e) { ai = {}; }\nreturn { json: { ...$json, recommended_action: ai.recommended_action || 'Review', why_now: ai.why_now || '', draft_message: ai.draft_message || '', stage_bucket: ai.stage_bucket || 'New', urgency: ai.urgency || 'Medium' } };"},"id":"99eef991-b9cd-40f1-83a6-27c7ba4dd11b","name":"Parse Outreach Draft","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,0]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const name = $json.lead_name || $json[\"Lead Name\"] || $json.leadname || 'Unknown';\n\nconst line = `Who - ${name}\\nAction - ${$json.recommended_action || ''}\\nWhy - ${$json.why_now || ''}\\n${$json.draft_message || ''}`;\n\nreturn { json: { ...$json, digest_line: line } };"},"id":"9d1637dd-16e2-4ae8-b7ab-c8bd3c701db1","name":"Build Digest Lines","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,0]},{"parameters":{"jsCode":"const items = $input.all();\nconst today = new Date().toISOString().split('T')[0];\nconst lines = items.map((item, i) => `${i + 1}. ${item.json.digest_line}`);\nconst body = lines.length\n  ? `Daily outreach queue for ${today}\\n\\n${lines.join('\\n\\n')}`\n  : `Daily outreach queue for ${today}\\n\\nNo leads due today.`;\nreturn { json: { subject: `Daily Outreach Queue - ${today}`, body, due_count: items.length } };"},"id":"d6c369b5-39a9-495e-a0ca-72f192848e2d","name":"Aggregate Digest","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,0]},{"parameters":{"sendTo":"robwinters99@gmail.com","subject":"={{$json.subject}}","emailType":"text","message":"={{$json.body}}","options":{}},"id":"081c7e07-a124-4bab-b129-679a482ebeea","name":"Send Daily Digest","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2048,0],"webhookId":"13ab7581-dd9c-4a2e-af97-1626bfa0829e","credentials":{"gmailOAuth2":{"id":"e8h6TIgFVzu7lknN","name":"Gmail account"}}},{"parameters":{"jsCode":"const today = new Date().toISOString().split('T')[0];\nreturn { json: { subject: `Daily Outreach Queue - ${today}`, body: `Daily outreach queue for ${today}\\n\\nNo leads due today.`, due_count: 0 } };"},"id":"307ff8d4-768f-4581-b10f-9c5a0558e7d2","name":"No Due Leads","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,160]},{"parameters":{"content":"Workflow #2: Daily Outreach Assistant\n\nPurpose:\n- Runs every morning\n- Finds leads due today or overdue\n- Uses AI to suggest the next manual action and a draft message\n- Emails you one digest\n\nImportant:\n- Reassign Google Sheets, Anthropic, and Gmail credentials after import\n- Replace the recipient email in Send Daily Digest\n- This workflow does not auto-send LinkedIn messages; it prepares a manual queue","height":320,"width":420},"id":"da15cb87-ba8a-45af-b7d9-0ceadb46f935","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,512]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const raw = $json[\"Next Action Date\"];\nlet next_action_date_iso = '';\nlet due_today_or_earlier = false;\n\nif (raw && String(raw).trim() !== '') {\n  const s = String(raw).trim();\n\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) {\n    next_action_date_iso = s;\n  } else {\n    const d = new Date(s);\n    if (!isNaN(d.getTime())) {\n      next_action_date_iso = d.toISOString().split('T')[0];\n    }\n  }\n}\n\nconst today = new Date().toISOString().split('T')[0];\n\nif (next_action_date_iso && next_action_date_iso <= today) {\n  due_today_or_earlier = true;\n}\n\nreturn {\n  ...$json,\n  next_action_date_iso,\n  due_today_or_earlier\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,240],"id":"184987da-de21-41ee-9b00-dac068010582","name":"Code in JavaScript"},{"parameters":{"content":"FIX TO ADD NAME AND linkedin_url in the email\n\nYou’re right — the prompt is fine. The issue is not that Draft Daily Outreach can’t see lead_name and linkedin_url; it clearly can, because they’re in the input and referenced in the prompt. The issue is that this kind of AI node typically outputs its own response payload, often just a text field, instead of automatically passing through all original input fields.\n\nWhat that means\nSo yes:\n\nInput to Draft Daily Outreach has the lead fields.\n\nOutput from Draft Daily Outreach only has text.\n\nThat means the node is replacing the item payload with the model response, not preserving the original fields.\n\nBest fix\nDo not try to fix this in the prompt.\nAdd a Merge step after parsing so you combine:\n\nInput 1: original record from Normalize Outreach Fields\n\nInput 2: parsed JSON from Parse Outreach Draft\n\nExact structure\nChange the flow to:\n\nNormalize Outreach Fields\n\nDraft Daily Outreach\n\nParse Outreach Draft\n\nMerge\n\nBuild Digest Lines\n\nHow to configure Merge\nIn the Merge node:\n\nMode: Combine\n\nCombine by: Position or Index if both branches preserve item order\n\nConnect:\n\nNormalize Outreach Fields → Merge input 1\n\nParse Outreach Draft → Merge input 2\n\nThat will give each final item both:\n\nlead_name, linkedin_url, etc.\n\nrecommended_action, why_now, draft_message\n\n\n\n\n\nWhy this is the clean fix\nAI nodes often return only model output, and n8n’s Merge node is the standard way to recombine original context with processed AI results when a downstream step needs both.\n\nAfter that\nYour Build Digest Lines code should work:\n\njavascript\nconst name = $json[\"Lead Name\"] || $json.lead_name || $json.leadname || '';\nconst link = $json[\"LinkedIn URL\"] || $json.linkedin_url || $json.linkedinurl || '';\n\nconst line = `Who - ${name}\\nLink - ${link}\\nAction - ${$json.recommended_action || ''}\\nWhy - ${$json.why_now || ''}\\nDraft - ${$json.draft_message || ''}`;\n\nreturn { json: { ...$json, digest_line: line } };\nThat covers both naming styles safely.\n\nShort answer\nYou were correct: the prompt is not the problem.\nThe fix is to merge the original lead item back in after the AI output is parsed.\n\nIf you want, I can give you the exact click-by-click Merge node settings next.","height":560,"width":544},"type":"n8n-nodes-base.stickyNote","position":[-192,224],"typeVersion":1,"id":"256c90a2-e6ad-4ab3-96ef-cabd6956e7cd","name":"Sticky Note1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1344,528],"id":"953a19ab-c59c-45a3-a0c9-39ebff0d7198","name":"Merge"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Only Due Leads":{"main":[[{"node":"Normalize Outreach Fields","type":"main","index":0}],[{"node":"No Due Leads","type":"main","index":0}]]},"Normalize Outreach Fields":{"main":[[{"node":"Draft Daily Outreach","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Draft Daily Outreach","type":"ai_languageModel","index":0}]]},"Draft Daily Outreach":{"main":[[{"node":"Parse Outreach Draft","type":"main","index":0}]]},"Parse Outreach Draft":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Build Digest Lines":{"main":[[{"node":"Aggregate Digest","type":"main","index":0}]]},"Aggregate Digest":{"main":[[{"node":"Send Daily Digest","type":"main","index":0}]]},"No Due Leads":{"main":[[{"node":"Send Daily Digest","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Only Due Leads","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Build Digest Lines","type":"main","index":0}]]}},"authors":"Robert Winters","name":"Version d7ec46f9","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-22T09:22:25.278Z","createdAt":"2026-04-22T09:22:25.278Z","id":"mncuglJyiyL60hhb","name":"VPS-Sync"}]}