workflows/Workflow 3 - Stage Updater and Next Action Scheduler.json
{"updatedAt":"2026-04-22T09:24:02.734Z","createdAt":"2026-04-14T08:40:23.414Z","id":"73vOMsEZjXoJSi7F","name":"Workflow 3 - Stage Updater and Next Action Scheduler","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs/edit#gid=0"},"options":{}},"id":"905e2cc6-c979-4857-ae67-26be211337ab","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[0,0],"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"tWTaHsDeJCSTwNQM","name":"Google Sheets Trigger account"}}},{"parameters":{"assignments":{"assignments":[{"id":"978a4193-e060-4e87-87dc-ca47b6c7c039","name":"row_number","value":"={{$json.row_number || 0}}","type":"number"},{"id":"9b5ec4d1-2886-4993-aeb5-6070c205fd44","name":"lead_name","value":"={{$json[\"Lead Name\"] || \"\"}}","type":"string"},{"id":"0e0ae42c-1327-402b-a4ad-dbbd2c161955","name":"linkedin_url","value":"={{$json[\"LinkedIn URL\"] || \"\"}}","type":"string"},{"id":"0255829f-7ba0-45cb-aba8-991b9cf222a5","name":"company","value":"={{$json[\"Company\"] || \"\"}}","type":"string"},{"id":"c0af5047-3134-42a8-ae5c-edd185476bd3","name":"role","value":"={{$json[\"Role\"] || \"\"}}","type":"string"},{"id":"5b46606f-1a79-49e3-839e-d75a2f56936f","name":"segment","value":"={{$json[\"Segment\"] || \"\"}}","type":"string"},{"id":"e84905a2-3180-4999-82df-b85fbb1d9eda","name":"contact_type","value":"={{$json[\"Contact Type\"] || \"\"}}","type":"string"},{"id":"966a59ce-8cc3-430d-b007-dd5ba698e51b","name":"product_fit","value":"={{$json[\"Product Fit\"] || \"\"}}","type":"string"},{"id":"9e8c54a9-9256-45bc-8310-796370f98b7f","name":"outreach_track","value":"={{$json[\"Outreach track\"] || \"\"}}","type":"string"},{"id":"18d00dd4-d06a-417a-9999-2d13ce9cec05","name":"exam_focus","value":"={{$json[\"Exam Focus\"] || \"\"}}","type":"string"},{"id":"89c5133f-394d-40be-b159-ff0b088fa7d5","name":"role_seniority","value":"={{$json[\"Role Seniority\"] || \"\"}}","type":"string"},{"id":"69e507bf-2f98-4c52-95d0-24d108322e0b","name":"audience_type","value":"={{$json[\"Audience Type\"] || \"\"}}","type":"string"},{"id":"70e0d31a-8785-4d78-82bc-3c008294e02a","name":"lead_source","value":"={{$json[\"Lead Source\"] || \"\"}}","type":"string"},{"id":"60e45186-0b0e-4686-b842-fb09e0b5dac3","name":"manual_note","value":"={{$json[\"Manual Note\"] || \"\"}}","type":"string"},{"id":"fed938c2-8c73-46cc-9666-c2e120c0f101","name":"ai_summary","value":"={{$json[\"AI Summary\"] || \"\"}}","type":"string"},{"id":"8eab6c72-4270-47b3-8e18-85c6c7e6af23","name":"personalization_angle","value":"={{$json[\"Personalization Angle\"] || \"\"}}","type":"string"},{"id":"8d2083bc-695e-4f99-abae-69934f66f597","name":"pain_point","value":"={{$json[\"Pain Point\"] || \"\"}}","type":"string"},{"id":"36efd2ae-644b-454d-aed1-41d21651db1d","name":"fit_score","value":"={{$json[\"Fit Score\"] || \"\"}}","type":"string"},{"id":"8eb592fb-ff49-496d-b013-e85bfec0e569","name":"fit_label","value":"={{$json[\"Fit Label\"] || \"\"}}","type":"string"},{"id":"b256f017-2109-4e78-a93e-800d08bf942c","name":"priority","value":"={{$json[\"Priority\"] || \"\"}}","type":"string"},{"id":"c1231924-d603-46dd-87f6-3328d7d809e6","name":"stage","value":"={{$json[\"Stage\"] || \"\"}}","type":"string"},{"id":"f0e50c71-0d3c-4244-b6cf-933eb45079cf","name":"recommended_next_step","value":"={{$json[\"Recommended Next Step\"] || \"\"}}","type":"string"},{"id":"14da7a97-55b4-4998-8431-42934cbf1200","name":"last_contact_date","value":"={{$json[\"Last Contact Date\"] || \"\"}}","type":"string"},{"id":"2c724331-8933-4301-bfaa-038d797922f0","name":"next_action_date","value":"={{$json[\"Next Action Date\"] || \"\"}}","type":"string"},{"id":"8275dd09-dc9f-4e3c-81c5-892a096fd2fb","name":"overview_sent","value":"={{$json[\"Overview Sent\"] || \"\"}}","type":"string"},{"id":"3144d655-deb9-49d5-a463-0c31d5523634","name":"booked_call","value":"={{$json[\"Booked Call\"] || \"\"}}","type":"string"},{"id":"c9a25481-a870-42c7-b24a-d5834c8f2f6b","name":"call_date","value":"={{$json[\"Call Date\"] || \"\"}}","type":"string"},{"id":"313e2e3c-2cef-47e6-b5e4-912a88e3905c","name":"status_notes","value":"={{$json[\"Status Notes\"] || \"\"}}","type":"string"},{"id":"dbf74b9a-9663-488e-a011-a43392028e4f","name":"email","value":"={{$json[\"Email\"] || \"\"}}","type":"string"},{"id":"3fc12b95-3e49-47d6-87ca-a557cf96a2c7","name":"phone","value":"={{$json[\"Phone\"] || \"\"}}","type":"string"},{"id":"8dd68476-06ec-4357-acca-bc22fec7b345","name":"location","value":"={{$json[\"Location\"] || \"\"}}","type":"string"}]},"options":{}},"id":"79ab9505-b410-4600-8347-6fe5c2e61f95","name":"Normalize Stage Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"638c81de-9b16-4dc4-a9a0-06cd0289ed07","leftValue":"={{['Connection Sent','Accepted','Messaged 1','Replied','Pain Identified','Overview Requested','Overview Sent','Call Invited','Call Booked','Not Now','Closed'].includes($json.stage)}}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e397275e-debe-4716-8dfb-1aaaf857525e","name":"Only Managed Stages","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[528,0]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const today = new Date().toISOString().split('T')[0];\nconst stage = ($json.stage || '').trim();\nconst currentNotes = ($json.status_notes || '').trim();\nconst currentOverview = ($json.overview_sent || 'No').trim() || 'No';\nconst currentBooked = ($json.booked_call || 'No').trim() || 'No';\nconst currentCallDate = ($json.call_date || '').trim();\n\nfunction addDays(base, days) {\n  const d = new Date(base + 'T00:00:00');\n  d.setDate(d.getDate() + days);\n  return d.toISOString().split('T')[0];\n}\n\nlet nextActionDate = $json.next_action_date || '';\nlet lastContactDate = $json.last_contact_date || '';\nlet overviewSent = currentOverview;\nlet bookedCall = currentBooked;\nlet callDate = currentCallDate;\nlet recommendedNextStep = $json.recommended_next_step || '';\nlet append = '';\n\nswitch (stage) {\n  case 'Connection Sent':\n    lastContactDate = today;\n    nextActionDate = addDays(today, 3);\n    recommendedNextStep = 'Check whether connection was accepted';\n    append = 'Connection request sent';\n    break;\n  case 'Accepted':\n    nextActionDate = today;\n    recommendedNextStep = 'Send first follow-up message';\n    append = 'Connection accepted';\n    break;\n  case 'Messaged 1':\n    lastContactDate = today;\n    nextActionDate = addDays(today, 4);\n    recommendedNextStep = 'Follow up if no reply';\n    append = 'First message sent';\n    break;\n  case 'Replied':\n    nextActionDate = today;\n    recommendedNextStep = 'Review reply and respond manually';\n    append = 'Lead replied';\n    break;\n  case 'Pain Identified':\n    nextActionDate = today;\n    recommendedNextStep = 'Send relevant resource or tailored message';\n    append = 'Pain point identified';\n    break;\n  case 'Overview Requested':\n    nextActionDate = today;\n    recommendedNextStep = 'Send overview / demo materials';\n    append = 'Overview requested';\n    break;\n  case 'Overview Sent':\n    lastContactDate = today;\n    overviewSent = 'Yes';\n    nextActionDate = addDays(today, 3);\n    recommendedNextStep = 'Follow up after sending overview';\n    append = 'Overview sent';\n    break;\n  case 'Call Invited':\n    lastContactDate = today;\n    nextActionDate = addDays(today, 3);\n    recommendedNextStep = 'Check if they booked a call';\n    append = 'Call invitation sent';\n    break;\n  case 'Call Booked':\n    bookedCall = 'Yes';\n    nextActionDate = '';\n    recommendedNextStep = 'Prepare for booked call';\n    append = 'Call booked';\n    break;\n  case 'Not Now':\n    nextActionDate = addDays(today, 45);\n    recommendedNextStep = 'Re-engage later';\n    append = 'Deferred for later follow-up';\n    break;\n  case 'Closed':\n    nextActionDate = '';\n    recommendedNextStep = 'No further action';\n    append = 'Lead closed';\n    break;\n}\n\nconst statusNotes = [currentNotes, append ? `${today}: ${append}` : ''].filter(Boolean).join(' | ');\n\nreturn {\n  json: {\n    ...$json,\n    last_contact_date: lastContactDate,\n    next_action_date: nextActionDate,\n    overview_sent: overviewSent,\n    booked_call: bookedCall,\n    call_date: callDate,\n    recommended_next_step: recommendedNextStep,\n    status_notes: statusNotes\n  }\n};"},"id":"ef86f573-7938-4669-87ab-26824bba8f08","name":"Apply Stage Rules","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,0]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs","mode":"id"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"rownumber":"={{$json.row_number}}","Lead Name":"={{$json.lead_name}}","LinkedIn URL":"={{$json.linkedin_url}}","Company":"={{$json.company}}","Role":"={{$json.role}}","Segment":"={{$json.segment}}","Contact Type":"={{$json.contact_type}}","Product Fit":"={{$json.product_fit}}","Outreach track":"={{$json.outreach_track}}","Exam Focus":"={{$json.exam_focus}}","Role Seniority":"={{$json.role_seniority}}","Audience Type":"={{$json.audience_type}}","Lead Source":"={{$json.lead_source}}","Manual Note":"={{$json.manual_note}}","AI Summary":"={{$json.ai_summary}}","Personalization Angle":"={{$json.personalization_angle}}","Pain Point":"={{$json.pain_point}}","Fit Score":"={{$json.fit_score}}","Fit Label":"={{$json.fit_label}}","Priority":"={{$json.priority}}","Stage":"={{$json.stage}}","Recommended Next Step":"={{$json.recommended_next_step}}","Last Contact Date":"={{$json.last_contact_date}}","Next Action Date":"={{$json.next_action_date}}","Overview Sent":"={{$json.overview_sent}}","Booked Call":"={{$json.booked_call}}","Call Date":"={{$json.call_date}}","Status Notes":"={{$json.status_notes}}","Email":"={{$json.email}}","Phone":"={{$json.phone}}","Location":"={{$json.location}}"},"matchingColumns":["LinkedIn URL"],"schema":[]},"options":{}},"id":"4c5ed8cf-b6f6-4753-935a-56e2732e5e9f","name":"Update Sheet Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1088,0],"credentials":{"googleSheetsOAuth2Api":{"id":"8aMGkwgKsyvUm7y2","name":"Google Sheets account"}}},{"parameters":{"content":"Workflow #3: Stage Updater / Next Action Scheduler\n\nPurpose:\n- Watches the Leads sheet for row updates\n- Reacts when you manually change Stage\n- Updates Last Contact Date, Next Action Date, Recommended Next Step, Overview Sent, Booked Call, and Status Notes\n\nTypical use:\n1. You change Stage manually in the sheet\n2. This workflow sees the update\n3. It applies date rules\n4. It writes the operational fields back to the same row\n\nImportant:\n- Reconnect Google Sheets trigger + Google Sheets credentials after import\n- If your trigger fires too often, we can later add a stricter guard to update only when Stage changes","height":424,"width":430},"id":"4e3d4ed8-b7c0-4e63-a448-a0eab17a044a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,192]}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Normalize Stage Fields","type":"main","index":0}]]},"Normalize Stage Fields":{"main":[[{"node":"Only Managed Stages","type":"main","index":0}]]},"Only Managed Stages":{"main":[[{"node":"Apply Stage Rules","type":"main","index":0}]]},"Apply Stage Rules":{"main":[[{"node":"Update Sheet Row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs","sheetId":0,"lastRevision":614,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs&revision=614&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"29a2e366-6960-4f27-8d9e-7343e3a90818","activeVersionId":"29a2e366-6960-4f27-8d9e-7343e3a90818","triggerCount":1,"shared":[{"updatedAt":"2026-04-14T08:40:23.417Z","createdAt":"2026-04-14T08:40:23.417Z","role":"workflow:owner","workflowId":"73vOMsEZjXoJSi7F","projectId":"3RRlwE0Ip44RqvAw"}],"activeVersion":{"updatedAt":"2026-04-14T09:32:24.000Z","createdAt":"2026-04-14T09:15:17.865Z","versionId":"29a2e366-6960-4f27-8d9e-7343e3a90818","workflowId":"73vOMsEZjXoJSi7F","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs/edit#gid=0"},"options":{}},"id":"905e2cc6-c979-4857-ae67-26be211337ab","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[0,0],"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"tWTaHsDeJCSTwNQM","name":"Google Sheets Trigger account"}}},{"parameters":{"assignments":{"assignments":[{"id":"978a4193-e060-4e87-87dc-ca47b6c7c039","name":"row_number","value":"={{$json.row_number || 0}}","type":"number"},{"id":"9b5ec4d1-2886-4993-aeb5-6070c205fd44","name":"lead_name","value":"={{$json[\"Lead Name\"] || \"\"}}","type":"string"},{"id":"0e0ae42c-1327-402b-a4ad-dbbd2c161955","name":"linkedin_url","value":"={{$json[\"LinkedIn URL\"] || \"\"}}","type":"string"},{"id":"0255829f-7ba0-45cb-aba8-991b9cf222a5","name":"company","value":"={{$json[\"Company\"] || \"\"}}","type":"string"},{"id":"c0af5047-3134-42a8-ae5c-edd185476bd3","name":"role","value":"={{$json[\"Role\"] || \"\"}}","type":"string"},{"id":"5b46606f-1a79-49e3-839e-d75a2f56936f","name":"segment","value":"={{$json[\"Segment\"] || \"\"}}","type":"string"},{"id":"e84905a2-3180-4999-82df-b85fbb1d9eda","name":"contact_type","value":"={{$json[\"Contact Type\"] || \"\"}}","type":"string"},{"id":"966a59ce-8cc3-430d-b007-dd5ba698e51b","name":"product_fit","value":"={{$json[\"Product Fit\"] || \"\"}}","type":"string"},{"id":"9e8c54a9-9256-45bc-8310-796370f98b7f","name":"outreach_track","value":"={{$json[\"Outreach track\"] || \"\"}}","type":"string"},{"id":"18d00dd4-d06a-417a-9999-2d13ce9cec05","name":"exam_focus","value":"={{$json[\"Exam Focus\"] || \"\"}}","type":"string"},{"id":"89c5133f-394d-40be-b159-ff0b088fa7d5","name":"role_seniority","value":"={{$json[\"Role Seniority\"] || \"\"}}","type":"string"},{"id":"69e507bf-2f98-4c52-95d0-24d108322e0b","name":"audience_type","value":"={{$json[\"Audience Type\"] || \"\"}}","type":"string"},{"id":"70e0d31a-8785-4d78-82bc-3c008294e02a","name":"lead_source","value":"={{$json[\"Lead Source\"] || \"\"}}","type":"string"},{"id":"60e45186-0b0e-4686-b842-fb09e0b5dac3","name":"manual_note","value":"={{$json[\"Manual Note\"] || \"\"}}","type":"string"},{"id":"fed938c2-8c73-46cc-9666-c2e120c0f101","name":"ai_summary","value":"={{$json[\"AI Summary\"] || \"\"}}","type":"string"},{"id":"8eab6c72-4270-47b3-8e18-85c6c7e6af23","name":"personalization_angle","value":"={{$json[\"Personalization Angle\"] || \"\"}}","type":"string"},{"id":"8d2083bc-695e-4f99-abae-69934f66f597","name":"pain_point","value":"={{$json[\"Pain Point\"] || \"\"}}","type":"string"},{"id":"36efd2ae-644b-454d-aed1-41d21651db1d","name":"fit_score","value":"={{$json[\"Fit Score\"] || \"\"}}","type":"string"},{"id":"8eb592fb-ff49-496d-b013-e85bfec0e569","name":"fit_label","value":"={{$json[\"Fit Label\"] || \"\"}}","type":"string"},{"id":"b256f017-2109-4e78-a93e-800d08bf942c","name":"priority","value":"={{$json[\"Priority\"] || \"\"}}","type":"string"},{"id":"c1231924-d603-46dd-87f6-3328d7d809e6","name":"stage","value":"={{$json[\"Stage\"] || \"\"}}","type":"string"},{"id":"f0e50c71-0d3c-4244-b6cf-933eb45079cf","name":"recommended_next_step","value":"={{$json[\"Recommended Next Step\"] || \"\"}}","type":"string"},{"id":"14da7a97-55b4-4998-8431-42934cbf1200","name":"last_contact_date","value":"={{$json[\"Last Contact Date\"] || \"\"}}","type":"string"},{"id":"2c724331-8933-4301-bfaa-038d797922f0","name":"next_action_date","value":"={{$json[\"Next Action Date\"] || \"\"}}","type":"string"},{"id":"8275dd09-dc9f-4e3c-81c5-892a096fd2fb","name":"overview_sent","value":"={{$json[\"Overview Sent\"] || \"\"}}","type":"string"},{"id":"3144d655-deb9-49d5-a463-0c31d5523634","name":"booked_call","value":"={{$json[\"Booked Call\"] || \"\"}}","type":"string"},{"id":"c9a25481-a870-42c7-b24a-d5834c8f2f6b","name":"call_date","value":"={{$json[\"Call Date\"] || \"\"}}","type":"string"},{"id":"313e2e3c-2cef-47e6-b5e4-912a88e3905c","name":"status_notes","value":"={{$json[\"Status Notes\"] || \"\"}}","type":"string"},{"id":"dbf74b9a-9663-488e-a011-a43392028e4f","name":"email","value":"={{$json[\"Email\"] || \"\"}}","type":"string"},{"id":"3fc12b95-3e49-47d6-87ca-a557cf96a2c7","name":"phone","value":"={{$json[\"Phone\"] || \"\"}}","type":"string"},{"id":"8dd68476-06ec-4357-acca-bc22fec7b345","name":"location","value":"={{$json[\"Location\"] || \"\"}}","type":"string"}]},"options":{}},"id":"79ab9505-b410-4600-8347-6fe5c2e61f95","name":"Normalize Stage Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"638c81de-9b16-4dc4-a9a0-06cd0289ed07","leftValue":"={{['Connection Sent','Accepted','Messaged 1','Replied','Pain Identified','Overview Requested','Overview Sent','Call Invited','Call Booked','Not Now','Closed'].includes($json.stage)}}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e397275e-debe-4716-8dfb-1aaaf857525e","name":"Only Managed Stages","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[528,0]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const today = new Date().toISOString().split('T')[0];\nconst stage = ($json.stage || '').trim();\nconst currentNotes = ($json.status_notes || '').trim();\nconst currentOverview = ($json.overview_sent || 'No').trim() || 'No';\nconst currentBooked = ($json.booked_call || 'No').trim() || 'No';\nconst currentCallDate = ($json.call_date || '').trim();\n\nfunction addDays(base, days) {\n  const d = new Date(base + 'T00:00:00');\n  d.setDate(d.getDate() + days);\n  return d.toISOString().split('T')[0];\n}\n\nlet nextActionDate = $json.next_action_date || '';\nlet lastContactDate = $json.last_contact_date || '';\nlet overviewSent = currentOverview;\nlet bookedCall = currentBooked;\nlet callDate = currentCallDate;\nlet recommendedNextStep = $json.recommended_next_step || '';\nlet append = '';\n\nswitch (stage) {\n  case 'Connection Sent':\n    lastContactDate = today;\n    nextActionDate = addDays(today, 3);\n    recommendedNextStep = 'Check whether connection was accepted';\n    append = 'Connection request sent';\n    break;\n  case 'Accepted':\n    nextActionDate = today;\n    recommendedNextStep = 'Send first follow-up message';\n    append = 'Connection accepted';\n    break;\n  case 'Messaged 1':\n    lastContactDate = today;\n    nextActionDate = addDays(today, 4);\n    recommendedNextStep = 'Follow up if no reply';\n    append = 'First message sent';\n    break;\n  case 'Replied':\n    nextActionDate = today;\n    recommendedNextStep = 'Review reply and respond manually';\n    append = 'Lead replied';\n    break;\n  case 'Pain Identified':\n    nextActionDate = today;\n    recommendedNextStep = 'Send relevant resource or tailored message';\n    append = 'Pain point identified';\n    break;\n  case 'Overview Requested':\n    nextActionDate = today;\n    recommendedNextStep = 'Send overview / demo materials';\n    append = 'Overview requested';\n    break;\n  case 'Overview Sent':\n    lastContactDate = today;\n    overviewSent = 'Yes';\n    nextActionDate = addDays(today, 3);\n    recommendedNextStep = 'Follow up after sending overview';\n    append = 'Overview sent';\n    break;\n  case 'Call Invited':\n    lastContactDate = today;\n    nextActionDate = addDays(today, 3);\n    recommendedNextStep = 'Check if they booked a call';\n    append = 'Call invitation sent';\n    break;\n  case 'Call Booked':\n    bookedCall = 'Yes';\n    nextActionDate = '';\n    recommendedNextStep = 'Prepare for booked call';\n    append = 'Call booked';\n    break;\n  case 'Not Now':\n    nextActionDate = addDays(today, 45);\n    recommendedNextStep = 'Re-engage later';\n    append = 'Deferred for later follow-up';\n    break;\n  case 'Closed':\n    nextActionDate = '';\n    recommendedNextStep = 'No further action';\n    append = 'Lead closed';\n    break;\n}\n\nconst statusNotes = [currentNotes, append ? `${today}: ${append}` : ''].filter(Boolean).join(' | ');\n\nreturn {\n  json: {\n    ...$json,\n    last_contact_date: lastContactDate,\n    next_action_date: nextActionDate,\n    overview_sent: overviewSent,\n    booked_call: bookedCall,\n    call_date: callDate,\n    recommended_next_step: recommendedNextStep,\n    status_notes: statusNotes\n  }\n};"},"id":"ef86f573-7938-4669-87ab-26824bba8f08","name":"Apply Stage Rules","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,0]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1hTDrFXpV1incuO1jQuWFv5KqthRZnk-q3cbddiEuPGs","mode":"id"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"rownumber":"={{$json.row_number}}","Lead Name":"={{$json.lead_name}}","LinkedIn URL":"={{$json.linkedin_url}}","Company":"={{$json.company}}","Role":"={{$json.role}}","Segment":"={{$json.segment}}","Contact Type":"={{$json.contact_type}}","Product Fit":"={{$json.product_fit}}","Outreach track":"={{$json.outreach_track}}","Exam Focus":"={{$json.exam_focus}}","Role Seniority":"={{$json.role_seniority}}","Audience Type":"={{$json.audience_type}}","Lead Source":"={{$json.lead_source}}","Manual Note":"={{$json.manual_note}}","AI Summary":"={{$json.ai_summary}}","Personalization Angle":"={{$json.personalization_angle}}","Pain Point":"={{$json.pain_point}}","Fit Score":"={{$json.fit_score}}","Fit Label":"={{$json.fit_label}}","Priority":"={{$json.priority}}","Stage":"={{$json.stage}}","Recommended Next Step":"={{$json.recommended_next_step}}","Last Contact Date":"={{$json.last_contact_date}}","Next Action Date":"={{$json.next_action_date}}","Overview Sent":"={{$json.overview_sent}}","Booked Call":"={{$json.booked_call}}","Call Date":"={{$json.call_date}}","Status Notes":"={{$json.status_notes}}","Email":"={{$json.email}}","Phone":"={{$json.phone}}","Location":"={{$json.location}}"},"matchingColumns":["LinkedIn URL"],"schema":[]},"options":{}},"id":"4c5ed8cf-b6f6-4753-935a-56e2732e5e9f","name":"Update Sheet Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1088,0],"credentials":{"googleSheetsOAuth2Api":{"id":"8aMGkwgKsyvUm7y2","name":"Google Sheets account"}}},{"parameters":{"content":"Workflow #3: Stage Updater / Next Action Scheduler\n\nPurpose:\n- Watches the Leads sheet for row updates\n- Reacts when you manually change Stage\n- Updates Last Contact Date, Next Action Date, Recommended Next Step, Overview Sent, Booked Call, and Status Notes\n\nTypical use:\n1. You change Stage manually in the sheet\n2. This workflow sees the update\n3. It applies date rules\n4. It writes the operational fields back to the same row\n\nImportant:\n- Reconnect Google Sheets trigger + Google Sheets credentials after import\n- If your trigger fires too often, we can later add a stricter guard to update only when Stage changes","height":424,"width":430},"id":"4e3d4ed8-b7c0-4e63-a448-a0eab17a044a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,192]}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Normalize Stage Fields","type":"main","index":0}]]},"Normalize Stage Fields":{"main":[[{"node":"Only Managed Stages","type":"main","index":0}]]},"Only Managed Stages":{"main":[[{"node":"Apply Stage Rules","type":"main","index":0}]]},"Apply Stage Rules":{"main":[[{"node":"Update Sheet Row","type":"main","index":0}]]}},"authors":"Robert Winters","name":"Version 29a2e366","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-22T09:22:25.278Z","createdAt":"2026-04-22T09:22:25.278Z","id":"mncuglJyiyL60hhb","name":"VPS-Sync"}]}